In [6]:
import pandas as pd
import numpy as np
import json

In [7]:
import gzip
f = gzip.open('ds_dump_AW_1.jl.gz', 'rt', encoding='utf-8')
rawdata = f.readlines()
f.close()

In [8]:
rawdata[0]

'{"family_name": "nunez", "updated": "2016-02-25T11:43:53", "locality": "Aruba", "url": "http://www.linkedin.com/in/juana-la-dominicana-nunez-a8b25059", "last_visited": "2016-02-25T11:43:53", "num_connections": "3", "_key": "AW4012aceb84350a4f", "also_viewed": ["http://www.linkedin.com/in/renanss-william-7a016275", "http://www.linkedin.com/in/margaret-laney-10301610", "http://www.linkedin.com/in/vipul-video-58168a70", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/gaston-pedro-zubieta-73b29518", "http://www.linkedin.com/in/cascino-gianfranco-aa65a552", "http://www.linkedin.com/in/pentiumao", "http://www.linkedin.com/in/tomoka-matsui-55182682", "http://www.linkedin.com/in/bryce-word-98729114", "http://www.linkedin.com/in/verona-gehring-22987456", "http://www.linkedin.com/in/nicoledelosreyes"], "given_name": "Juana La Dominicana", "full_name": "Juana La Dominicana nunez", "headline": "--", "education": [{"start": "1992", "end": "1996", "degrees": ["Bachelor of Business Administration (B.B.A.)", "Accounting and Business/Management", "first grade"], "name": "Middel Baar Administratief Onderwijs Aruba", "summary": "Activities and Societies: I did accounting and Industrial planning also"}], "canonical_url": "http://aw.linkedin.com/in/juana-la-dominicana-nunez-a8b25059", "unique_id": "4012aceb84350a4f"}\n'

In [9]:
dict_list = []
for i in rawdata:
    dict_list.append(json.loads(i))

In [10]:
df = pd.DataFrame(dict_list, columns=list(json.loads((rawdata[0])).keys()))

In [11]:
df.head(5)

,canonical_url,given_name,also_viewed,education,url,headline,last_visited,num_connections,unique_id,full_name,family_name,updated,_key,locality
0,http://aw.linkedin.com/in/juana-la-dominicana-...,Juana La Dominicana,[http://www.linkedin.com/in/renanss-william-7a...,[{'degrees': ['Bachelor of Business Administra...,http://www.linkedin.com/in/juana-la-dominicana...,--,2016-02-25T11:43:53,3,4012aceb84350a4f,Juana La Dominicana nunez,nunez,2016-02-25T11:43:53,AW4012aceb84350a4f,Aruba
1,http://aw.linkedin.com/in/charles-th-pietersz-...,Charles Th.,[http://www.linkedin.com/in/carmen-garcia-davi...,NaN,http://www.linkedin.com/in/charles-th-pietersz...,--,2016-02-24T05:05:53,12,fa20ef9b896a2156,Charles Th. Pietersz,Pietersz,2016-02-24T05:05:53,AWfa20ef9b896a2156,Aruba
2,http://aw.linkedin.com/in/philippehese,Philippe,[http://www.linkedin.com/in/mary-geerman-a8369...,"[{'degrees': ['Bachelor's degree', 'Internatio...",http://www.linkedin.com/in/philippehese,Project Manager at Divi Resorts,2016-02-24T10:12:55,500+,cfa775b541e1fb03,Philippe Hese,Hese,2016-02-24T10:12:55,AWcfa775b541e1fb03,Aruba
3,http://aw.linkedin.com/in/natalia-de-freitas-5...,Natalia,[http://www.linkedin.com/in/julia-paduanelo-97...,NaN,http://www.linkedin.com/in/natalia-de-freitas-...,--,2016-02-24T03:11:19,1,02424885bef0d1ae,Natalia De Freitas,De Freitas,2016-02-24T03:11:19,AW02424885bef0d1ae,Aruba
4,http://aw.linkedin.com/in/sharon-martis-0292279a,Sharon,[http://www.linkedin.com/in/alexandra-everett-...,NaN,http://www.linkedin.com/in/sharon-martis-0292279a,--,2016-02-23T12:11:36,1,95b4ae359f9894cf,Sharon Martis,Martis,2016-02-23T12:11:36,AW95b4ae359f9894cf,Aruba

In [12]:
aa = df['headline'].dropna().str.find('trading')

In [14]:
data = df.loc[aa[aa != -1].index].reset_index(drop=True)
data.head()

,canonical_url,given_name,also_viewed,education,url,headline,last_visited,num_connections,unique_id,full_name,family_name,updated,_key,locality
0,http://aw.linkedin.com/in/elena-judiht-onate-a...,elena judiht,[http://www.linkedin.com/in/antonio-chaves-ren...,NaN,http://www.linkedin.com/in/elena-judiht-onate-...,trading,2016-02-18T13:45:09,4,c71f7a2859f45cfd,elena judiht onate arias,onate arias,2016-02-18T13:45:09,AWc71f7a2859f45cfd,Aruba
1,http://aw.linkedin.com/in/donald-biesum-0884659a,Donald,[http://www.linkedin.com/in/joseph-croes-96b3a...,NaN,http://www.linkedin.com/in/donald-biesum-0884659a,sales representative at aruba trading,2016-02-18T05:34:46,1,704f3fe959fd77f3,Donald Biesum,Biesum,2016-02-18T05:34:46,AW704f3fe959fd77f3,Aruba
2,http://aw.linkedin.com/in/raquilita-maduro-836...,Raquilita,[http://www.linkedin.com/in/jeffweiner08],NaN,http://www.linkedin.com/in/raquilita-maduro-83...,supervisor at martijn trading,2016-02-18T06:35:27,1,b2d92b2302789021,Raquilita Maduro,Maduro,2016-02-18T06:35:27,AWb2d92b2302789021,Aruba
3,http://www.linkedin.com/pub/ron-van-der-brink/...,Ron,[http://www.linkedin.com/pub/misleydy-perez/31...,NaN,http://www.linkedin.com/pub/ron-van-der-brink/...,wharehouse supervisor at Romar trading,2015-01-08T01:57:59,3,3137be2f11307e62,Ron Van Der Brink,Van Der Brink,2015-01-08T01:58:00,AW3137be2f11307e62,Aruba
4,http://aw.linkedin.com/in/alberto-wu-119573aa,Alberto,"[http://www.linkedin.com/in/wualberto, http://...",NaN,http://www.linkedin.com/in/alberto-wu-119573aa,manager at huan zhan trading n.v.,2016-02-18T05:41:42,1,f22b1224278403e4,Alberto wu,wu,2016-02-18T05:41:42,AWf22b1224278403e4,Aruba

In [ ]:
data.to_csv('trading_linkedin.csv', index = False)

In [ ]:
# from sqlalchemy import create_engine
# engine = create_engine("mysql+mysqldb://root:"+'pass'+"@xxx.xx.xx.xx/company_name")

# i = 0
# n = 100
# df.head(n).to_sql(con=engine, name = 'inlook_company_test', if_exists='replace', index=False)
# df.drop(df.head(n).index, inplace=True)
# while True:
#     df.head(n).to_sql(con=engine, name = 'inlook_company_test', if_exists='append', index=False)
#     df.drop(df.head(n).index, inplace=True)
#     print i
#     i += 1

In [ ]:
# import glob, os
# from pandas.io import sql
# import json
# import pandas as pd
# os.chdir(".")
# file_list = []
# for fi in glob.glob("*.jl"):
#     file_list.append(fi)

In [ ]:
# from sqlalchemy import create_engine
# engine = create_engine("mysql+mysqldb://user:"+'pass'+"@xxx.xx.xx.xx/database")

# i = 0
# n = 100
# while True:
#     df.head(n).to_sql(con=engine, name = 'inlook_company', if_exists='append', index=False)
#     df.drop(df.head(n).index, inplace=True)
#     print i
#     i += 1