In [1]:
from sqlalchemy.engine import create_engine
import pandas as pd
import numpy as np
import json
import gzip
import cx_Oracle
from datetime import datetime, timedelta, date
import calendar, os, time

In [2]:
DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'DEV' #enter your username
PASSWORD = "qtdata@2021" #enter your password
HOST = '118.69.32.128' #enter the oracle db host url
PORT = 1521 #enter the oracle port number
SERVICE = 'XE' #enter the oracle db service name
ENGINE_PATH_WIN_AUTH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + \
                       ':' + str(PORT) + '/'+ SERVICE + '?encoding=UTF-8&nencoding=UTF-8'
print(ENGINE_PATH_WIN_AUTH)
engine = create_engine(ENGINE_PATH_WIN_AUTH, max_identifier_length = 128)
con = engine.connect()
print('Connecting to BIG server')

oracle+cx_oracle://DEV:qtdata@2021@118.69.32.128:1521/XE?encoding=UTF-8&nencoding=UTF-8
Connecting to BIG server

In [3]:
#Server Info
DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'DEV' #enter your username
PASSWORD = 'qtdatA2020' #enter your password
HOST = '14.161.28.178' #enter the oracle db host url
PORT = 1521 #enter the oracle port number
SERVICE = 'XE' #enter the oracle db service name
engine_str = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + \
                       ':' + str(PORT) + '/' + SERVICE + '?encoding=UTF-8&nencoding=UTF-8'
print(engine_str)
jvn_engine = create_engine(engine_str, max_identifier_length = 128)
print('Connecting to JVN server.')

oracle+cx_oracle://DEV:qtdatA2020@14.161.28.178:1521/XE?encoding=UTF-8&nencoding=UTF-8
Connecting to JVN server.

In [6]:
engine.execute("SELECT count(*) FROM LINKEDIN_DB").fetchall()

[(0,)]

In [ ]:
#Get database from big server
df = pd.read_sql("SELECT table_name FROM user_tables", engine)
#writer = pd.ExcelWriter('DATABASE.xlsx')
for table_name in df['table_name']:
    print(table_name)
    df_report = pd.read_sql("SELECT * FROM {}".format(table_name), engine)
    df_report.columns = [x.upper() for x in df_report.columns]
    #df_report.to_excel(writer, sheet_name = '{}'.format(table_name), index = False)
    df_report.to_sql('{}'.format(table_name), jvn_engine, if_exists='replace', index = False)
#writer.close()

USERS

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'USERS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

CMT_TEMPONOTE

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'CMT_TEMPONOTE' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_WEEKLYREPORT

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_WEEKLYREPORT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_TRAINNING

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_TRAINNING' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_TRANSPORT

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_TRANSPORT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_TEMPOMONITOR

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_TEMPOMONITOR' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_TASKS

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_TASKS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_FUNCTIONS_TEST

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_FUNCTIONS_TEST' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_FUNCTIONS

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_FUNCTIONS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

CMT_TEMPOMONITOR

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'CMT_TEMPOMONITOR' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_WORKINGTIME

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_WORKINGTIME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_TRAINNING_RATE_NEW

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_TRAINNING_RATE_NEW' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_RECRUITMENT_LONGHAI

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_RECRUITMENT_LONGHAI' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_RECRUITMENT_GROUP

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_RECRUITMENT_GROUP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_RECRUITMENT_HR2

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_RECRUITMENT_HR2' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_MEMBERINFO

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_MEMBERINFO' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

QT_PRODUCT_EXPANSION_PLAN

/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py:1191: UserWarning: The provided table name 'QT_PRODUCT_EXPANSION_PLAN' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

LINKEDIN_DB

In [ ]:
#Get database from JVN server
df = pd.read_sql("SELECT table_name FROM user_tables", engine)
#writer = pd.ExcelWriter('DATABASE.xlsx')
for table_name in df['table_name']:
    print(table_name)
    df_report = pd.read_sql("SELECT * FROM {}".format(table_name), engine)
    df_report.columns = [x.upper() for x in df_report.columns]
    #df_report.to_excel(writer, sheet_name = '{}'.format(table_name), index = False)
    df_report.to_sql('{}'.format(table_name), jvn_engine, if_exists='replace', index = False)
#writer.close()

In [5]:
#engine.execute("SELECT table_name FROM user_tables").fetchall()
df = pd.read_sql("SELECT table_name FROM user_tables", engine)
print(df)

                   table_name
0                       USERS
1               CMT_TEMPONOTE
2             QT_WEEKLYREPORT
3                QT_TRAINNING
4                QT_TRANSPORT
5             QT_TEMPOMONITOR
6                    QT_TASKS
7           QT_FUNCTIONS_TEST
8                QT_FUNCTIONS
9            CMT_TEMPOMONITOR
10             QT_WORKINGTIME
11      QT_TRAINNING_RATE_NEW
12     QT_RECRUITMENT_LONGHAI
13       QT_RECRUITMENT_GROUP
14         QT_RECRUITMENT_HR2
15              QT_MEMBERINFO
16  QT_PRODUCT_EXPANSION_PLAN
17          QT_TRAINNING_RATE
18      QT_SCHEDULE_INTERVIEW
19               QT_TEMPONOTE

In [19]:
f = gzip.open('ds_dump_AS_1.jl.gz', 'rt', encoding='utf-8')
# flag = True
# check = 0
# rawdata = f.readlines()
# rawdata_lenght = len(rawdata)
# old_index = 0
# new_index = 0
# print(rawdata_lenght)
# df = []
# while True:
#     if rawdata_lenght >= 5000:
#         new_index += 5000
#         rawdata_lenght -= 5000
#         #print(rawdata[old_index:new_index])
#         df.append(rawdata[old_index:new_index])
#         old_index = new_index
#     else:
#         df.append(rawdata[old_index:])
#         break
# print(df)
# for line in df:
#     time.sleep(0.1)
#     print(line)
flag = True
index = 0
rawdata = ''
while flag == True:
    try:
        for line in range():
            rawdata += f.readline()
    except:
        flag = False

------------ 1
{"family_name": "Aguilera", "updated": "2016-02-23T01:44:53", "full_name": "Christina Aguilera", "locality": "American Samoa", "url": "http://www.linkedin.com/in/christina-aguilera-65161a79", "industry": "Arts and Crafts", "last_visited": "2016-02-23T01:44:53", "num_connections": "0", "experience": [{"duration": "10 years 10 months", "start": "May 2005", "organization": [{"name": "Barneys New York", "profile_url": "http://www.linkedin.com/company/barneys-new-york"}], "end": "Present", "title": "Singer"}, {"duration": "7 years", "start": "May 2005", "organization": [{"name": "SingTel", "profile_url": "http://www.linkedin.com/company/singtel"}], "end": "April 2012", "title": "Singer"}], "headline": "Singer at Barneys New York", "also_viewed": ["http://www.linkedin.com/in/britney-jean-spears-76a2a337", "http://www.linkedin.com/in/jennifer-aniston-029a9623", "http://www.linkedin.com/in/christina-aguilera-4a368227", "http://www.linkedin.com/in/celine-dion-5a089829", "http://www.linkedin.com/in/christina-aguilera-a11a2549", "http://www.linkedin.com/in/megan-fox-97ba2525", "http://www.linkedin.com/in/selena-gomez-507ab053", "http://www.linkedin.com/in/tina-aguilera-77316054", "http://www.linkedin.com/in/pitt-brad-aa682b39", "http://www.linkedin.com/in/tina-aguilera-442802a", "http://www.linkedin.com/in/katy-perry-7abb0185", "http://www.linkedin.com/in/beyonce-knowles-3a911b11", "http://www.linkedin.com/in/miley-cyrus-99a98230", "http://www.linkedin.com/in/mariah-carey-b1462811", "http://www.linkedin.com/in/christina-aguilera-bb3617b"], "image_url": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/000/2ce/24b/2bd96b5.jpg", "given_name": "Christina", "redirect_url": "https://www.linkedin.com/pub/christina-aguilera/79/61a/651", "canonical_url": "http://as.linkedin.com/in/christina-aguilera-65161a79", "unique_id": "06292dfa0845f63a", "_key": "AS06292dfa0845f63a"}
{"family_name": "KAKA' WIz", "updated": "2016-02-23T01:01:29", "_key": "AS84ccdea3834f14c6", "locality": "American Samoa", "url": "http://www.linkedin.com/in/kaka-wiz-7b090687", "industry": "Automotive", "last_visited": "2016-02-23T01:01:29", "num_connections": "1", "experience": [{"duration": "2 years", "start": "2011", "organization": [{"name": "symotec"}], "end": "2013", "title": "manager"}], "headline": "Automotive Professional", "also_viewed": ["http://www.linkedin.com/in/cheryl-toma-776598b3", "http://www.linkedin.com/in/vivi-sha-9a66433a", "http://www.linkedin.com/in/perry-chen-5b77b38a", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/annette-poinson-83557361", "http://www.linkedin.com/in/zue-finau-59528659", "http://www.linkedin.com/in/ivamarie-so-oto-17931865", "http://www.linkedin.com/in/%D9%85%D8%AD%D9%85%D8%AF-%D8%A7%D9%84%D9%86%D9%87%D8%A7%D8%B1%D9%8A-59b476b3", "http://www.linkedin.com/in/gordon-mcdonald-26912995", "http://www.linkedin.com/in/carlo-caruso-132824b2", "http://www.linkedin.com/in/sammy-n-bryant-kisena-8621972b"], "given_name": "KAKA'", "full_name": "KAKA' WIz", "canonical_url": "http://as.linkedin.com/in/kaka-wiz-7b090687", "unique_id": "84ccdea3834f14c6"}
{"family_name": "Godinet", "updated": "2016-02-23T00:59:58", "_key": "AS56e556f98836fa99", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/gus-godinet-59303825", "industry": "Government Administration", "last_visited": "2016-02-23T00:59:58", "num_connections": "1", "experience": [{"organization": [{"name": "DEPARTMENT OF PORT ADMINISTRATION"}], "end": "Present", "title": "PROPERTY AND LEASING MANAGER"}], "headline": "PROPERTY AND LEASING MANAGER at DEPARTMENT OF PORT ADMINISTRATION", "also_viewed": ["http://www.linkedin.com/in/william-muasau-35063a80", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/danielle-faasoa-a468435b", "http://www.linkedin.com/in/john-lynch-0575b765", "http://www.linkedin.com/in/faafetai-yandall-43925489", "http://www.linkedin.com/in/ryan-bohanak-71681460", "http://www.linkedin.com/in/matt-asuega-09352b54", "http://www.linkedin.com/in/reginald-barnes-b853b768", "http://www.linkedin.com/in/tuumafa-maiava-b0255036", "http://www.linkedin.com/in/annika-siufanua-55216489", "http://www.linkedin.com/in/ken-mornic-19509484"], "given_name": "Gus", "full_name": "Gus Godinet", "canonical_url": "http://as.linkedin.com/in/gus-godinet-59303825", "unique_id": "56e556f98836fa99"}
{"family_name": "Ardiente", "updated": "2016-02-23T00:27:37", "_key": "ASd4352228b920c3b5", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/homer-ardiente-91043548", "industry": "Wholesale", "last_visited": "2016-02-23T00:27:37", "num_connections": "8", "experience": [{"organization": [{"name": "Pacific Sales and Marketing"}], "end": "Present", "title": "Office Manager"}], "headline": "Office Manager at Pacific Sales and Marketing", "also_viewed": ["http://www.linkedin.com/in/zaki-kahook-2416a130", "http://www.linkedin.com/in/florence-sekio-99b91438", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/danielle-faasoa-a468435b", "http://www.linkedin.com/in/ngaire-brighouse-1803999a", "http://www.linkedin.com/in/annette-poinson-83557361", "http://www.linkedin.com/in/zue-finau-59528659", "http://www.linkedin.com/in/jebel-tomegah-35933492", "http://www.linkedin.com/in/sammy-n-bryant-kisena-8621972b", "http://www.linkedin.com/in/fia-aveina-1a5b91a2", "http://www.linkedin.com/in/maria-faimanu-a004ba7a"], "given_name": "Homer", "full_name": "Homer Ardiente", "canonical_url": "http://as.linkedin.com/in/homer-ardiente-91043548", "unique_id": "d4352228b920c3b5"}
{"family_name": "Collins", "updated": "2016-02-23T00:27:37", "locality": "American Samoa", "url": "http://www.linkedin.com/in/angie-collins-264ab4a2", "last_visited": "2016-02-23T00:27:37", "num_connections": "10", "_key": "ASdd8963dda95f88c8", "also_viewed": ["http://www.linkedin.com/in/angie-g-collins-39861152", "http://www.linkedin.com/in/angela-collins-lushaj-327271a8", "http://www.linkedin.com/in/angie-collins-661b5a9a", "http://www.linkedin.com/in/taulauniu-isaiah-hunkin-944635100", "http://www.linkedin.com/in/angelacollins9", "http://www.linkedin.com/in/angela-britt-ab362310", "http://www.linkedin.com/in/frank-qu-13a2b370"], "image_url": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAMOAAAAJDAzMjdiZjMwLTUyODctNDJiYy1hMzU5LTMyMGFiMmRiNzIzZQ.jpg", "given_name": "Angie", "full_name": "Angie Collins", "headline": "--", "canonical_url": "http://as.linkedin.com/in/angie-collins-264ab4a2", "unique_id": "dd8963dda95f88c8"}

------------ 2
{"family_name": "Aguilera", "updated": "2016-02-23T01:44:53", "full_name": "Christina Aguilera", "locality": "American Samoa", "url": "http://www.linkedin.com/in/christina-aguilera-65161a79", "industry": "Arts and Crafts", "last_visited": "2016-02-23T01:44:53", "num_connections": "0", "experience": [{"duration": "10 years 10 months", "start": "May 2005", "organization": [{"name": "Barneys New York", "profile_url": "http://www.linkedin.com/company/barneys-new-york"}], "end": "Present", "title": "Singer"}, {"duration": "7 years", "start": "May 2005", "organization": [{"name": "SingTel", "profile_url": "http://www.linkedin.com/company/singtel"}], "end": "April 2012", "title": "Singer"}], "headline": "Singer at Barneys New York", "also_viewed": ["http://www.linkedin.com/in/britney-jean-spears-76a2a337", "http://www.linkedin.com/in/jennifer-aniston-029a9623", "http://www.linkedin.com/in/christina-aguilera-4a368227", "http://www.linkedin.com/in/celine-dion-5a089829", "http://www.linkedin.com/in/christina-aguilera-a11a2549", "http://www.linkedin.com/in/megan-fox-97ba2525", "http://www.linkedin.com/in/selena-gomez-507ab053", "http://www.linkedin.com/in/tina-aguilera-77316054", "http://www.linkedin.com/in/pitt-brad-aa682b39", "http://www.linkedin.com/in/tina-aguilera-442802a", "http://www.linkedin.com/in/katy-perry-7abb0185", "http://www.linkedin.com/in/beyonce-knowles-3a911b11", "http://www.linkedin.com/in/miley-cyrus-99a98230", "http://www.linkedin.com/in/mariah-carey-b1462811", "http://www.linkedin.com/in/christina-aguilera-bb3617b"], "image_url": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/000/2ce/24b/2bd96b5.jpg", "given_name": "Christina", "redirect_url": "https://www.linkedin.com/pub/christina-aguilera/79/61a/651", "canonical_url": "http://as.linkedin.com/in/christina-aguilera-65161a79", "unique_id": "06292dfa0845f63a", "_key": "AS06292dfa0845f63a"}
{"family_name": "KAKA' WIz", "updated": "2016-02-23T01:01:29", "_key": "AS84ccdea3834f14c6", "locality": "American Samoa", "url": "http://www.linkedin.com/in/kaka-wiz-7b090687", "industry": "Automotive", "last_visited": "2016-02-23T01:01:29", "num_connections": "1", "experience": [{"duration": "2 years", "start": "2011", "organization": [{"name": "symotec"}], "end": "2013", "title": "manager"}], "headline": "Automotive Professional", "also_viewed": ["http://www.linkedin.com/in/cheryl-toma-776598b3", "http://www.linkedin.com/in/vivi-sha-9a66433a", "http://www.linkedin.com/in/perry-chen-5b77b38a", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/annette-poinson-83557361", "http://www.linkedin.com/in/zue-finau-59528659", "http://www.linkedin.com/in/ivamarie-so-oto-17931865", "http://www.linkedin.com/in/%D9%85%D8%AD%D9%85%D8%AF-%D8%A7%D9%84%D9%86%D9%87%D8%A7%D8%B1%D9%8A-59b476b3", "http://www.linkedin.com/in/gordon-mcdonald-26912995", "http://www.linkedin.com/in/carlo-caruso-132824b2", "http://www.linkedin.com/in/sammy-n-bryant-kisena-8621972b"], "given_name": "KAKA'", "full_name": "KAKA' WIz", "canonical_url": "http://as.linkedin.com/in/kaka-wiz-7b090687", "unique_id": "84ccdea3834f14c6"}
{"family_name": "Godinet", "updated": "2016-02-23T00:59:58", "_key": "AS56e556f98836fa99", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/gus-godinet-59303825", "industry": "Government Administration", "last_visited": "2016-02-23T00:59:58", "num_connections": "1", "experience": [{"organization": [{"name": "DEPARTMENT OF PORT ADMINISTRATION"}], "end": "Present", "title": "PROPERTY AND LEASING MANAGER"}], "headline": "PROPERTY AND LEASING MANAGER at DEPARTMENT OF PORT ADMINISTRATION", "also_viewed": ["http://www.linkedin.com/in/william-muasau-35063a80", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/danielle-faasoa-a468435b", "http://www.linkedin.com/in/john-lynch-0575b765", "http://www.linkedin.com/in/faafetai-yandall-43925489", "http://www.linkedin.com/in/ryan-bohanak-71681460", "http://www.linkedin.com/in/matt-asuega-09352b54", "http://www.linkedin.com/in/reginald-barnes-b853b768", "http://www.linkedin.com/in/tuumafa-maiava-b0255036", "http://www.linkedin.com/in/annika-siufanua-55216489", "http://www.linkedin.com/in/ken-mornic-19509484"], "given_name": "Gus", "full_name": "Gus Godinet", "canonical_url": "http://as.linkedin.com/in/gus-godinet-59303825", "unique_id": "56e556f98836fa99"}
{"family_name": "Ardiente", "updated": "2016-02-23T00:27:37", "_key": "ASd4352228b920c3b5", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/homer-ardiente-91043548", "industry": "Wholesale", "last_visited": "2016-02-23T00:27:37", "num_connections": "8", "experience": [{"organization": [{"name": "Pacific Sales and Marketing"}], "end": "Present", "title": "Office Manager"}], "headline": "Office Manager at Pacific Sales and Marketing", "also_viewed": ["http://www.linkedin.com/in/zaki-kahook-2416a130", "http://www.linkedin.com/in/florence-sekio-99b91438", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/danielle-faasoa-a468435b", "http://www.linkedin.com/in/ngaire-brighouse-1803999a", "http://www.linkedin.com/in/annette-poinson-83557361", "http://www.linkedin.com/in/zue-finau-59528659", "http://www.linkedin.com/in/jebel-tomegah-35933492", "http://www.linkedin.com/in/sammy-n-bryant-kisena-8621972b", "http://www.linkedin.com/in/fia-aveina-1a5b91a2", "http://www.linkedin.com/in/maria-faimanu-a004ba7a"], "given_name": "Homer", "full_name": "Homer Ardiente", "canonical_url": "http://as.linkedin.com/in/homer-ardiente-91043548", "unique_id": "d4352228b920c3b5"}
{"family_name": "Collins", "updated": "2016-02-23T00:27:37", "locality": "American Samoa", "url": "http://www.linkedin.com/in/angie-collins-264ab4a2", "last_visited": "2016-02-23T00:27:37", "num_connections": "10", "_key": "ASdd8963dda95f88c8", "also_viewed": ["http://www.linkedin.com/in/angie-g-collins-39861152", "http://www.linkedin.com/in/angela-collins-lushaj-327271a8", "http://www.linkedin.com/in/angie-collins-661b5a9a", "http://www.linkedin.com/in/taulauniu-isaiah-hunkin-944635100", "http://www.linkedin.com/in/angelacollins9", "http://www.linkedin.com/in/angela-britt-ab362310", "http://www.linkedin.com/in/frank-qu-13a2b370"], "image_url": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAMOAAAAJDAzMjdiZjMwLTUyODctNDJiYy1hMzU5LTMyMGFiMmRiNzIzZQ.jpg", "given_name": "Angie", "full_name": "Angie Collins", "headline": "--", "canonical_url": "http://as.linkedin.com/in/angie-collins-264ab4a2", "unique_id": "dd8963dda95f88c8"}
{"family_name": "Jones", "updated": "2016-02-22T22:09:17", "_key": "AS4a4c7a7326fc8d54", "locality": "American Samoa", "url": "http://www.linkedin.com/in/john-jones-17321992", "industry": "Online Media", "last_visited": "2016-02-22T22:09:17", "num_connections": "0", "experience": [{"end": "Present", "title": "Director"}], "headline": "Director", "also_viewed": ["http://www.linkedin.com/in/influencebelief", "http://www.linkedin.com/in/arsanova-fatima-48b94123", "http://www.linkedin.com/in/johnjonesfortyninegroup", "http://www.linkedin.com/in/irfan-mirza-16473814", "http://www.linkedin.com/in/mohamad-abu-jemeza-7b31a397", "http://www.linkedin.com/in/dr-ghassan-hannoun-60556658", "http://www.linkedin.com/in/mohammed-hannoun-09253b71", "http://www.linkedin.com/in/perhat-sahatdurdyev-86251353", "http://www.linkedin.com/in/john-e-jones-3b9b1726", "http://www.linkedin.com/in/sara-hendash-03464990", "http://www.linkedin.com/in/john-jones-227b72bb", "http://www.linkedin.com/in/johnhjonesusa", "http://www.linkedin.com/in/abdulghani-arsanov-8793a5b6", "http://www.linkedin.com/in/oweis-zahran-33a1515a", "http://www.linkedin.com/in/abdul-rahim-arsanov-0498a575"], "given_name": "John", "full_name": "John Jones", "canonical_url": "http://as.linkedin.com/in/john-jones-17321992", "unique_id": "4a4c7a7326fc8d54"}
{"family_name": "Morgan", "updated": "2016-02-22T22:45:24", "full_name": "Hance Morgan", "locality": "American Samoa", "url": "http://www.linkedin.com/in/hance-morgan-878b21a5", "industry": "Investment Management", "last_visited": "2016-02-22T22:45:24", "num_connections": "500+", "experience": [{"duration": "70 years", "start": "1946", "end": "Present", "title": "Self-employed Director"}], "headline": "Self-employed Director", "also_viewed": ["http://www.linkedin.com/in/gustavo-osses-11188996", "http://www.linkedin.com/in/adrian-rojas-a1692232", "http://www.linkedin.com/in/alicia-paola-alvarado-a9484254", "http://www.linkedin.com/in/carmen-quiroz-19b33b65", "http://www.linkedin.com/in/stephano-paolo-mor%C3%A1n-cabello-622379105", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/tomasroarrpp", "http://www.linkedin.com/in/peter-jurgen-smith-35a0b85b", "http://www.linkedin.com/in/gustavo-eduardo-caviedes-osses-b9373b37", "http://www.linkedin.com/in/eduardo-nelson-lav%C3%ADn-07170b65", "http://www.linkedin.com/in/aguzmanoy"], "image_url": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/005/08f/01a/3a2005a.jpg", "given_name": "Hance", "redirect_url": "https://www.linkedin.com/pub/hance-morgan/a5/b21/878", "canonical_url": "http://as.linkedin.com/in/hance-morgan-878b21a5", "unique_id": "f7fb4ad1e64c9aa7", "_key": "ASf7fb4ad1e64c9aa7"}
{"family_name": "Lindley", "updated": "2016-02-17T13:13:51", "locality": "American Samoa", "headline": "Manager at Maplewood Property Maintenance", "industry": "Facilities Services", "last_visited": "2016-02-17T13:13:51", "num_connections": "106", "experience": [{"end": "Present", "description": "Property maintenance", "title": "Manager", "start": "October 2015", "duration": "5 months", "organization": [{"name": "Maplewood Property Management"}]}, {"duration": "22 years 7 months", "start": "April 1993", "title": "owner", "end": "October 2015", "organization": [{"name": "JML Enterprises"}]}], "summary": "JML Enterprises strives to provide attractive lawn and landscape maintenance for both residential and commercial properties in the Central VT area", "_key": "AS08b5e170c1675289", "also_viewed": ["http://www.linkedin.com/in/luciegarand", "http://www.linkedin.com/in/andreasuozzo", "http://www.linkedin.com/in/erin-sigrist-2479626", "http://www.linkedin.com/in/greg-hookway-35a62991", "http://www.linkedin.com/in/anissa-lewis-4393a271", "http://www.linkedin.com/in/kelly-tailer-5074a518", "http://www.linkedin.com/in/courtney-parento-082b1834", "http://www.linkedin.com/in/sean-lindley-94b14297", "http://www.linkedin.com/in/sean-lindley-0b2408a4", "http://www.linkedin.com/in/tess-kennedy-872263100", "http://www.linkedin.com/in/jennifer-churchman-16626225"], "image_url": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/005/0ad/23b/05a8cfc.jpg", "given_name": "Sean", "full_name": "Sean Lindley", "url": "http://www.linkedin.com/in/sean-lindley-ba6160b0", "skills": ["Customer Service", "Sales", "Project Management", "Management"], "canonical_url": "http://as.linkedin.com/in/sean-lindley-ba6160b0", "unique_id": "08b5e170c1675289"}
{"family_name": "Leafa", "updated": "2016-02-17T13:37:47", "linkedin_id": "67588581", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/mika-leafa-9197751a", "industry": "Civil Engineering", "last_visited": "2016-02-17T13:37:47", "num_connections": "12", "experience": [{"duration": "7 years 4 months", "start": "November 2008", "title": "Digital Switch Technician", "end": "Present", "organization": [{"name": "ASTCA"}]}], "headline": "Digital Switch Technician at ASTCA", "also_viewed": ["http://www.linkedin.com/in/alex-sene-jr-3b715681", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/chris-magalei-8585a5aa", "http://www.linkedin.com/in/ethan-lake-38602725", "http://www.linkedin.com/in/madhushanka-ariyananda-858a4bb2", "http://www.linkedin.com/in/laitu-o-brien-17874571", "http://www.linkedin.com/in/roy-hall-iii-66365849", "http://www.linkedin.com/in/aleki-sene-2397355b", "http://www.linkedin.com/in/mike-semo-b28b1aa7", "http://www.linkedin.com/in/abdelwahab-elnaka-79305b20", "http://www.linkedin.com/in/jason-m-betham-00181914"], "given_name": "Mika", "full_name": "Mika Leafa", "canonical_url": "http://as.linkedin.com/in/mika-leafa-9197751a", "unique_id": "8b929ae10b25145b", "_key": "AS8b929ae10b25145b"}
{"family_name": "Tagaleoo", "updated": "2016-02-17T13:13:50", "linkedin_id": "147765023", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/peati-tagaleoo-1bb5a041", "industry": "Law Practice", "last_visited": "2016-02-17T13:13:50", "num_connections": "1", "headline": "Student at American Samoa Community College", "also_viewed": ["http://www.linkedin.com/in/maggiecrateau", "http://www.linkedin.com/in/adam-jahiel-b5830018", "http://www.linkedin.com/in/daniel-sarmu-7a4b9470", "http://www.linkedin.com/in/jeffweiner08"], "given_name": "Peati", "full_name": "Peati Tagaleoo", "education": [{"start": "2011", "end": "2012", "name": "American Samoa Community College"}], "canonical_url": "http://as.linkedin.com/in/peati-tagaleoo-1bb5a041", "unique_id": "9ed7e1605dd3dd95", "_key": "AS9ed7e1605dd3dd95"}

------------ 3

In [20]:
newfile = open('newfile.txt','w')
newfile.write(rawdata)
newfile.close()

In [21]:
f = open('newfile.txt','rt')
flag = True
index = 0
while flag == True and index < 3:
    rawdata = ''
    try:
        for line in range(10):
            rawdata += f.readline()
        index +=1
        print('------------',index)
        print(rawdata)
    except:
        flag = False

------------ 1
{"family_name": "Aguilera", "updated": "2016-02-23T01:44:53", "full_name": "Christina Aguilera", "locality": "American Samoa", "url": "http://www.linkedin.com/in/christina-aguilera-65161a79", "industry": "Arts and Crafts", "last_visited": "2016-02-23T01:44:53", "num_connections": "0", "experience": [{"duration": "10 years 10 months", "start": "May 2005", "organization": [{"name": "Barneys New York", "profile_url": "http://www.linkedin.com/company/barneys-new-york"}], "end": "Present", "title": "Singer"}, {"duration": "7 years", "start": "May 2005", "organization": [{"name": "SingTel", "profile_url": "http://www.linkedin.com/company/singtel"}], "end": "April 2012", "title": "Singer"}], "headline": "Singer at Barneys New York", "also_viewed": ["http://www.linkedin.com/in/britney-jean-spears-76a2a337", "http://www.linkedin.com/in/jennifer-aniston-029a9623", "http://www.linkedin.com/in/christina-aguilera-4a368227", "http://www.linkedin.com/in/celine-dion-5a089829", "http://www.linkedin.com/in/christina-aguilera-a11a2549", "http://www.linkedin.com/in/megan-fox-97ba2525", "http://www.linkedin.com/in/selena-gomez-507ab053", "http://www.linkedin.com/in/tina-aguilera-77316054", "http://www.linkedin.com/in/pitt-brad-aa682b39", "http://www.linkedin.com/in/tina-aguilera-442802a", "http://www.linkedin.com/in/katy-perry-7abb0185", "http://www.linkedin.com/in/beyonce-knowles-3a911b11", "http://www.linkedin.com/in/miley-cyrus-99a98230", "http://www.linkedin.com/in/mariah-carey-b1462811", "http://www.linkedin.com/in/christina-aguilera-bb3617b"], "image_url": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/000/2ce/24b/2bd96b5.jpg", "given_name": "Christina", "redirect_url": "https://www.linkedin.com/pub/christina-aguilera/79/61a/651", "canonical_url": "http://as.linkedin.com/in/christina-aguilera-65161a79", "unique_id": "06292dfa0845f63a", "_key": "AS06292dfa0845f63a"}
{"family_name": "KAKA' WIz", "updated": "2016-02-23T01:01:29", "_key": "AS84ccdea3834f14c6", "locality": "American Samoa", "url": "http://www.linkedin.com/in/kaka-wiz-7b090687", "industry": "Automotive", "last_visited": "2016-02-23T01:01:29", "num_connections": "1", "experience": [{"duration": "2 years", "start": "2011", "organization": [{"name": "symotec"}], "end": "2013", "title": "manager"}], "headline": "Automotive Professional", "also_viewed": ["http://www.linkedin.com/in/cheryl-toma-776598b3", "http://www.linkedin.com/in/vivi-sha-9a66433a", "http://www.linkedin.com/in/perry-chen-5b77b38a", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/annette-poinson-83557361", "http://www.linkedin.com/in/zue-finau-59528659", "http://www.linkedin.com/in/ivamarie-so-oto-17931865", "http://www.linkedin.com/in/%D9%85%D8%AD%D9%85%D8%AF-%D8%A7%D9%84%D9%86%D9%87%D8%A7%D8%B1%D9%8A-59b476b3", "http://www.linkedin.com/in/gordon-mcdonald-26912995", "http://www.linkedin.com/in/carlo-caruso-132824b2", "http://www.linkedin.com/in/sammy-n-bryant-kisena-8621972b"], "given_name": "KAKA'", "full_name": "KAKA' WIz", "canonical_url": "http://as.linkedin.com/in/kaka-wiz-7b090687", "unique_id": "84ccdea3834f14c6"}
{"family_name": "Godinet", "updated": "2016-02-23T00:59:58", "_key": "AS56e556f98836fa99", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/gus-godinet-59303825", "industry": "Government Administration", "last_visited": "2016-02-23T00:59:58", "num_connections": "1", "experience": [{"organization": [{"name": "DEPARTMENT OF PORT ADMINISTRATION"}], "end": "Present", "title": "PROPERTY AND LEASING MANAGER"}], "headline": "PROPERTY AND LEASING MANAGER at DEPARTMENT OF PORT ADMINISTRATION", "also_viewed": ["http://www.linkedin.com/in/william-muasau-35063a80", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/danielle-faasoa-a468435b", "http://www.linkedin.com/in/john-lynch-0575b765", "http://www.linkedin.com/in/faafetai-yandall-43925489", "http://www.linkedin.com/in/ryan-bohanak-71681460", "http://www.linkedin.com/in/matt-asuega-09352b54", "http://www.linkedin.com/in/reginald-barnes-b853b768", "http://www.linkedin.com/in/tuumafa-maiava-b0255036", "http://www.linkedin.com/in/annika-siufanua-55216489", "http://www.linkedin.com/in/ken-mornic-19509484"], "given_name": "Gus", "full_name": "Gus Godinet", "canonical_url": "http://as.linkedin.com/in/gus-godinet-59303825", "unique_id": "56e556f98836fa99"}
{"family_name": "Ardiente", "updated": "2016-02-23T00:27:37", "_key": "ASd4352228b920c3b5", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/homer-ardiente-91043548", "industry": "Wholesale", "last_visited": "2016-02-23T00:27:37", "num_connections": "8", "experience": [{"organization": [{"name": "Pacific Sales and Marketing"}], "end": "Present", "title": "Office Manager"}], "headline": "Office Manager at Pacific Sales and Marketing", "also_viewed": ["http://www.linkedin.com/in/zaki-kahook-2416a130", "http://www.linkedin.com/in/florence-sekio-99b91438", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/danielle-faasoa-a468435b", "http://www.linkedin.com/in/ngaire-brighouse-1803999a", "http://www.linkedin.com/in/annette-poinson-83557361", "http://www.linkedin.com/in/zue-finau-59528659", "http://www.linkedin.com/in/jebel-tomegah-35933492", "http://www.linkedin.com/in/sammy-n-bryant-kisena-8621972b", "http://www.linkedin.com/in/fia-aveina-1a5b91a2", "http://www.linkedin.com/in/maria-faimanu-a004ba7a"], "given_name": "Homer", "full_name": "Homer Ardiente", "canonical_url": "http://as.linkedin.com/in/homer-ardiente-91043548", "unique_id": "d4352228b920c3b5"}
{"family_name": "Collins", "updated": "2016-02-23T00:27:37", "locality": "American Samoa", "url": "http://www.linkedin.com/in/angie-collins-264ab4a2", "last_visited": "2016-02-23T00:27:37", "num_connections": "10", "_key": "ASdd8963dda95f88c8", "also_viewed": ["http://www.linkedin.com/in/angie-g-collins-39861152", "http://www.linkedin.com/in/angela-collins-lushaj-327271a8", "http://www.linkedin.com/in/angie-collins-661b5a9a", "http://www.linkedin.com/in/taulauniu-isaiah-hunkin-944635100", "http://www.linkedin.com/in/angelacollins9", "http://www.linkedin.com/in/angela-britt-ab362310", "http://www.linkedin.com/in/frank-qu-13a2b370"], "image_url": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAMOAAAAJDAzMjdiZjMwLTUyODctNDJiYy1hMzU5LTMyMGFiMmRiNzIzZQ.jpg", "given_name": "Angie", "full_name": "Angie Collins", "headline": "--", "canonical_url": "http://as.linkedin.com/in/angie-collins-264ab4a2", "unique_id": "dd8963dda95f88c8"}
{"family_name": "Jones", "updated": "2016-02-22T22:09:17", "_key": "AS4a4c7a7326fc8d54", "locality": "American Samoa", "url": "http://www.linkedin.com/in/john-jones-17321992", "industry": "Online Media", "last_visited": "2016-02-22T22:09:17", "num_connections": "0", "experience": [{"end": "Present", "title": "Director"}], "headline": "Director", "also_viewed": ["http://www.linkedin.com/in/influencebelief", "http://www.linkedin.com/in/arsanova-fatima-48b94123", "http://www.linkedin.com/in/johnjonesfortyninegroup", "http://www.linkedin.com/in/irfan-mirza-16473814", "http://www.linkedin.com/in/mohamad-abu-jemeza-7b31a397", "http://www.linkedin.com/in/dr-ghassan-hannoun-60556658", "http://www.linkedin.com/in/mohammed-hannoun-09253b71", "http://www.linkedin.com/in/perhat-sahatdurdyev-86251353", "http://www.linkedin.com/in/john-e-jones-3b9b1726", "http://www.linkedin.com/in/sara-hendash-03464990", "http://www.linkedin.com/in/john-jones-227b72bb", "http://www.linkedin.com/in/johnhjonesusa", "http://www.linkedin.com/in/abdulghani-arsanov-8793a5b6", "http://www.linkedin.com/in/oweis-zahran-33a1515a", "http://www.linkedin.com/in/abdul-rahim-arsanov-0498a575"], "given_name": "John", "full_name": "John Jones", "canonical_url": "http://as.linkedin.com/in/john-jones-17321992", "unique_id": "4a4c7a7326fc8d54"}
{"family_name": "Morgan", "updated": "2016-02-22T22:45:24", "full_name": "Hance Morgan", "locality": "American Samoa", "url": "http://www.linkedin.com/in/hance-morgan-878b21a5", "industry": "Investment Management", "last_visited": "2016-02-22T22:45:24", "num_connections": "500+", "experience": [{"duration": "70 years", "start": "1946", "end": "Present", "title": "Self-employed Director"}], "headline": "Self-employed Director", "also_viewed": ["http://www.linkedin.com/in/gustavo-osses-11188996", "http://www.linkedin.com/in/adrian-rojas-a1692232", "http://www.linkedin.com/in/alicia-paola-alvarado-a9484254", "http://www.linkedin.com/in/carmen-quiroz-19b33b65", "http://www.linkedin.com/in/stephano-paolo-mor%C3%A1n-cabello-622379105", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/tomasroarrpp", "http://www.linkedin.com/in/peter-jurgen-smith-35a0b85b", "http://www.linkedin.com/in/gustavo-eduardo-caviedes-osses-b9373b37", "http://www.linkedin.com/in/eduardo-nelson-lav%C3%ADn-07170b65", "http://www.linkedin.com/in/aguzmanoy"], "image_url": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/005/08f/01a/3a2005a.jpg", "given_name": "Hance", "redirect_url": "https://www.linkedin.com/pub/hance-morgan/a5/b21/878", "canonical_url": "http://as.linkedin.com/in/hance-morgan-878b21a5", "unique_id": "f7fb4ad1e64c9aa7", "_key": "ASf7fb4ad1e64c9aa7"}
{"family_name": "Lindley", "updated": "2016-02-17T13:13:51", "locality": "American Samoa", "headline": "Manager at Maplewood Property Maintenance", "industry": "Facilities Services", "last_visited": "2016-02-17T13:13:51", "num_connections": "106", "experience": [{"end": "Present", "description": "Property maintenance", "title": "Manager", "start": "October 2015", "duration": "5 months", "organization": [{"name": "Maplewood Property Management"}]}, {"duration": "22 years 7 months", "start": "April 1993", "title": "owner", "end": "October 2015", "organization": [{"name": "JML Enterprises"}]}], "summary": "JML Enterprises strives to provide attractive lawn and landscape maintenance for both residential and commercial properties in the Central VT area", "_key": "AS08b5e170c1675289", "also_viewed": ["http://www.linkedin.com/in/luciegarand", "http://www.linkedin.com/in/andreasuozzo", "http://www.linkedin.com/in/erin-sigrist-2479626", "http://www.linkedin.com/in/greg-hookway-35a62991", "http://www.linkedin.com/in/anissa-lewis-4393a271", "http://www.linkedin.com/in/kelly-tailer-5074a518", "http://www.linkedin.com/in/courtney-parento-082b1834", "http://www.linkedin.com/in/sean-lindley-94b14297", "http://www.linkedin.com/in/sean-lindley-0b2408a4", "http://www.linkedin.com/in/tess-kennedy-872263100", "http://www.linkedin.com/in/jennifer-churchman-16626225"], "image_url": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/005/0ad/23b/05a8cfc.jpg", "given_name": "Sean", "full_name": "Sean Lindley", "url": "http://www.linkedin.com/in/sean-lindley-ba6160b0", "skills": ["Customer Service", "Sales", "Project Management", "Management"], "canonical_url": "http://as.linkedin.com/in/sean-lindley-ba6160b0", "unique_id": "08b5e170c1675289"}
{"family_name": "Leafa", "updated": "2016-02-17T13:37:47", "linkedin_id": "67588581", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/mika-leafa-9197751a", "industry": "Civil Engineering", "last_visited": "2016-02-17T13:37:47", "num_connections": "12", "experience": [{"duration": "7 years 4 months", "start": "November 2008", "title": "Digital Switch Technician", "end": "Present", "organization": [{"name": "ASTCA"}]}], "headline": "Digital Switch Technician at ASTCA", "also_viewed": ["http://www.linkedin.com/in/alex-sene-jr-3b715681", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/chris-magalei-8585a5aa", "http://www.linkedin.com/in/ethan-lake-38602725", "http://www.linkedin.com/in/madhushanka-ariyananda-858a4bb2", "http://www.linkedin.com/in/laitu-o-brien-17874571", "http://www.linkedin.com/in/roy-hall-iii-66365849", "http://www.linkedin.com/in/aleki-sene-2397355b", "http://www.linkedin.com/in/mike-semo-b28b1aa7", "http://www.linkedin.com/in/abdelwahab-elnaka-79305b20", "http://www.linkedin.com/in/jason-m-betham-00181914"], "given_name": "Mika", "full_name": "Mika Leafa", "canonical_url": "http://as.linkedin.com/in/mika-leafa-9197751a", "unique_id": "8b929ae10b25145b", "_key": "AS8b929ae10b25145b"}
{"family_name": "Tagaleoo", "updated": "2016-02-17T13:13:50", "linkedin_id": "147765023", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/peati-tagaleoo-1bb5a041", "industry": "Law Practice", "last_visited": "2016-02-17T13:13:50", "num_connections": "1", "headline": "Student at American Samoa Community College", "also_viewed": ["http://www.linkedin.com/in/maggiecrateau", "http://www.linkedin.com/in/adam-jahiel-b5830018", "http://www.linkedin.com/in/daniel-sarmu-7a4b9470", "http://www.linkedin.com/in/jeffweiner08"], "given_name": "Peati", "full_name": "Peati Tagaleoo", "education": [{"start": "2011", "end": "2012", "name": "American Samoa Community College"}], "canonical_url": "http://as.linkedin.com/in/peati-tagaleoo-1bb5a041", "unique_id": "9ed7e1605dd3dd95", "_key": "AS9ed7e1605dd3dd95"}

------------ 2
{"family_name": "Shore", "updated": "2016-02-17T13:13:50", "linkedin_id": "173081939", "locality": "American Samoa", "url": "http://www.linkedin.com/in/rita-shore-1abb6b49", "last_visited": "2016-02-17T13:13:50", "num_connections": "2", "_key": "ASafa4c156aacbbd20", "also_viewed": ["http://www.linkedin.com/in/rita-shore-a080b427", "http://www.linkedin.com/in/rita-shore-9391ab36", "http://www.linkedin.com/in/rita-shore-436b1b42"], "given_name": "Rita", "full_name": "Rita Shore", "headline": "Student at American University", "education": [{"start": "1992", "end": "1996", "name": "American University", "profile_url": "http://www.linkedin.com/edu/american-university-18058"}], "canonical_url": "http://as.linkedin.com/in/rita-shore-1abb6b49", "unique_id": "afa4c156aacbbd20"}
{"family_name": "White", "updated": "2016-02-17T13:37:25", "linkedin_id": "203563295", "locality": "American Samoa", "url": "http://www.linkedin.com/in/michael-white-9bb20a58", "last_visited": "2016-02-17T13:37:25", "num_connections": "1", "_key": "ASbe9d90eba35ed1b5", "also_viewed": ["http://www.linkedin.com/in/michael-white-60421bb9", "http://www.linkedin.com/in/mwhite086", "http://www.linkedin.com/in/michael-white-cfps-set-a979341", "http://www.linkedin.com/in/michael-white-24429110", "http://www.linkedin.com/in/michael-white-a24abb11", "http://www.linkedin.com/in/mickey-white-ab131747", "http://www.linkedin.com/in/rita-perez-519a5a63"], "given_name": "Michael", "full_name": "Michael White", "headline": "--", "canonical_url": "http://as.linkedin.com/in/michael-white-9bb20a58", "unique_id": "be9d90eba35ed1b5"}
{"family_name": "\u00c7\u00f6p", "updated": "2016-02-17T13:37:25", "linkedin_id": "389481031", "locality": "American Samoa", "url": "http://www.linkedin.com/in/esra-%C3%A7%C3%B6p-14752aaa", "industry": "Banking", "last_visited": "2016-02-17T13:37:25", "num_connections": "12", "experience": [{"organization": [{"name": "BBVA Continental", "profile_url": "http://www.linkedin.com/company/bbva-continental"}], "end": "Present", "title": "Hddg"}], "headline": "Hddg at BBVA Continental", "also_viewed": ["http://www.linkedin.com/in/halil-selahattin-%C3%B6zten-33a313b0", "http://www.linkedin.com/in/neslihan-ruganc%C4%B1-37860341", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/evrim-%C3%B6zkorumak-9a877bab", "http://www.linkedin.com/in/%C3%B6zden-%C3%BCneri-50a80049", "http://www.linkedin.com/in/zafer-ecevit-39008445", "http://www.linkedin.com/in/suheyla-unal-8b513754", "http://www.linkedin.com/in/y%C3%BCksel-bekaro%C4%9Flu-do%C4%9Fan-aa1a4568", "http://www.linkedin.com/in/peteksalman1977", "http://www.linkedin.com/in/ula%C5%9F-emre-akbulut-18172676", "http://www.linkedin.com/in/taner-guvenir-17a05135"], "given_name": "Esra", "full_name": "Esra \u00c7\u00f6p", "canonical_url": "http://as.linkedin.com/in/esra-%25C3%25A7%25C3%25B6p-14752aaa", "unique_id": "c12ab281202d347c", "_key": "ASc12ab281202d347c"}
{"updated": "2016-02-17T13:13:50", "linkedin_id": "197617766", "locality": "American Samoa", "url": "http://www.linkedin.com/in/%E7%8E%8B-%E7%8E%89%E4%B8%B0-17222256", "last_visited": "2016-02-17T13:13:50", "num_connections": "0", "_key": "ASc5efa58fbe4b1167", "also_viewed": ["http://www.linkedin.com/in/jeffweiner08"], "full_name": "\u7389\u4e30\u738b", "headline": "Student at HBUST", "education": [{"start": "2009", "end": "2013", "name": "HBUST"}], "canonical_url": "http://as.linkedin.com/in/%25E7%258E%258B-%25E7%258E%2589%25E4%25B8%25B0-17222256", "unique_id": "c5efa58fbe4b1167"}
{"family_name": "tusina", "updated": "2016-02-17T13:13:50", "linkedin_id": "269865760", "locality": "American Samoa area", "url": "http://www.linkedin.com/in/lina-tusina-39446476", "industry": "Consumer Services", "last_visited": "2016-02-17T13:13:50", "num_connections": "0", "experience": [{"organization": [{"name": "asg", "profile_url": "http://www.linkedin.com/company/asg"}], "end": "Present", "title": "adminstrative assistant"}], "headline": "adminstrative assistant at asg", "also_viewed": ["http://www.linkedin.com/in/jeffweiner08"], "given_name": "lina", "full_name": "lina tusina", "canonical_url": "http://as.linkedin.com/in/lina-tusina-39446476", "unique_id": "c96161ad0d680c70", "_key": "ASc96161ad0d680c70"}

------------ 3

In [11]:
db_temponote = 'qt_temponote'
db_tempomonitor = 'qt_tempomonitor'
db_memberinfo = 'qt_memberinfo'
db_weeklyreport = 'qt_weeklyreport'
db_functions = 'qt_functions'
db_transport = 'qt_transport'
db_product_expansion_plan = 'qt_product_expansion_plan'

username = "PHUNG THANH AN"

df = pd.read_sql("select * from {} WHERE NAME like '{}' AND \
                 DATETIME = (select max(DATETIME) from {} where NAME like '{}')"\
    .format(db_tempomonitor, username, db_tempomonitor, username), engine)

# df = pd.read_sql("\
#                   (select * from {} \
#                   where NAME like '{}' AND datetime LIKE to_char(max(datetime),'DD-MON-YY')\
#                   "\
#     .format(db_tempomonitor, db_tempomonitor, username), engine)
# df = pd.read_sql("select * from {}"\
#     .format(db_tempomonitor, username), engine)
print(df)

NameError: name 'engine' is not defined

In [24]:
df = pd.read_sql("select * from {} where NAME like '{}'\
                  "\
    .format(db_tempomonitor, username), engine)
df.columns = [x.upper() for x in df.columns]

screen_b64 = df.iloc[-1]['SCREEN']
print(df)
print(time)

              DATETIME            NAME  \
0  2020-07-09 22:53:37  PHUNG THANH AN
1  2020-07-09 22:54:07  PHUNG THANH AN
2  2020-07-09 22:54:37  PHUNG THANH AN
3  2020-07-09 22:55:07  PHUNG THANH AN
4  2020-07-09 22:55:37  PHUNG THANH AN
5  2020-07-09 22:56:07  PHUNG THANH AN
6  2020-07-09 22:56:37  PHUNG THANH AN
7  2020-07-09 22:45:39  PHUNG THANH AN
8  2020-07-09 22:46:09  PHUNG THANH AN
9  2020-07-09 22:46:39  PHUNG THANH AN
10 2020-07-09 22:47:09  PHUNG THANH AN
11 2020-07-09 22:47:39  PHUNG THANH AN
12 2020-07-09 22:48:09  PHUNG THANH AN

                                               SCREEN      TIME  \
0   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:53:37
1   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:54:07
2   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:54:37
3   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:55:07
4   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:55:37
5   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:56:07
6   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:56:37
7   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:45:39
8   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:46:09
9   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:46:39
10  iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:47:09
11  iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:47:39
12  iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...  22:48:09

                                               WEBCAM
0   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
1   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
2   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
3   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
4   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
5   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
6   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
7   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
8   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
9   iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
10  iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
11  iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...
12  iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAA...

NameError: name 'time' is not defined

In [20]:
db_functions = 'qt_tempomonitor'
df = pd.read_sql("select to_char(name) as name, max(datetime) as date_modified from {} GROUP BY to_char(name)".format(db_functions), engine)
print(df[:])

              name date_modified
0          CRIS VO    2020-07-09
1  TRAN TRUNG MINH    2020-07-09
2   PHUNG THANH AN    2020-07-09

In [18]:
db_memberinfo = 'QT_MEMBERINFO'
df_report = pd.read_excel('qt_memberinfo.xlsx')
df_report.columns = [x.upper() for x in df_report.columns]
df_report['DATE_MODIFIED'] = datetime.now()
col_name = df_report.dtypes.index
log = ''
try:
    for col in col_name:
        #convert to datetime
        if col == 'TIMESTAMP'or col == 'STARTDATE' or col == 'OUTDATE' or col == 'DATE_MODIFIED':
            if df_report[col].dtypes == 'float':
                df_report[col] = pd.to_datetime(df_report[col], format='%m%d%Y', errors='coerce')
            if df_report[col].dtypes != 'datetime64[ns]':
                log += 'Upload failed, fill correct the type of {} column is m/dd/yyyy\n'.format(col)
        else:
            #convert to string
            df_report[col] = df_report[col].astype(str)
    
    if log == '':
        #Insert changed rows
        #df_report.to_sql(db_memberinfo, engine, if_exists = 'append', index = False)
        log += 'Upload successful'
    print(df_report)
    
except:
    print('Upload failed')

                       NAME                           EMAIL  \
0      Nguyn Th Hng Dung            hongdunga2@gmail.com
1           TRAN TRUNG MINH            minh.tran@jvn.edu.vn
2        TRAN THI MINH CHAU    chau.tran2015@qcf.jvn.edu.vn
3             TRAN XUAN YEN           yentran1411@gmail.com
4        VUONG THI LINH CHI         chivuong2701@gmail.comm
5                    SELENA        selena0307.acn@gmail.com
6           TRAN TRUNG QUAN          tranquan9425@gmail.com
7       DUONG DANG XUAN LOI             xuanloi84@gmail.com
8                   ADELINA     adelina.thucquyen@gmail.com
9          TRINH NGOC TRINH          trinh1107557@gmail.com
10                HOANG MAC           macduchoang@gmail.com
11         VUONG HANH QUYEN        vuonghanhquyen@gmail.com
12                QUYNH NHU       lequynhnhu.qng@gmail.comm
13           LE PHUONG THAO             thaole1812000@gmail
14              PHAM TU ANH             phamtuanh@gmail.com
15     HUYNH NGUYEN THUY VY   thuyvyhuynh03082001@gmail.com
16    NGUYEN THI THANH THAO            thaodzy123@gmail.com
17          LUONG MINH KHOA                lgkhoa@gmail.com
18         HUYNH TRONG PHUC          phucht95.qnu@gmail.com
19          LUU QUANG NHIEN     quangnhienxstkk26@gmail.com
20       TRAN THI LAN HUONG       cobenhotuoikute@gmail.com
21         NGUYEN PHUC SANG    nguyenphucsang1312@gmail.com
22      TRAN THI HANH QUYEN                             nan
23              PHAN CAM TU            tuphan1441@gmail.com
24   DANG NGUYEN DIEN TRUNG                             nan
25           NGUYEN VAN HUY      huynguyen1732001@gmail.com
26                  THAO HO       thanhthao792013@gmail.com
27       HOANG THI MY DUYEN         hoangduyen272@gmail.com
28   NGUYEN PHAM THUY TRANG  trangphamnguyen2605@gmail.comm
29   NGUYEN PHAM THUY TRANG   trangphamnguyen2605@gmail.com
..                      ...                             ...
602         HOANG NGHIA TAI        hoangtaiqtnl42@gmail.com
603           DO THI TRA MI         trami2313.tmd@gmail.com
604       TRAN THI NGOC MAI       tranngocmai2198@gmail.com
605          TRUONG VAN DAI         daitruong1998@gmail.com
606                LE ANH Y            leanhy1994@gmail.com
607     LE THI HONG THUUYET       lehongthuyet119@gmail.com
608    TRAN THI VIET PHUONG      christinewaseda2@gmail.com
609      LE DINH PHUONG NAM           lenam190300@gmail.com
610         PHAM MINH HOANG        peterhoang1295@gmail.com
611          DO PHUOC THIEN             dpthien47@gmail.com
612         HUYNH NGOC TIEN            hntien1712@gmail.com
613     PHANNGUYENHOANGOANH           oanhphan121@gmail.com
614    Phan Phng Hunh c           duc13121997@gmail.com
615        HUYNH CONG PHUNG       huynhcongphung4@gmail.com
616   DOAN KHOA PHUONG DUNG      yun.dungdoan1704@gmail.com
617         BUI THI KIM CHI      buithikimchi2912@gmail.com
618        HUYNH BA GIA BAO       huynhbgiabao977@gmail.com
619               Cao V K              choanpoi@gmail.com
620          DUONG THAO NHI          duongnhi.dtn@gmail.com
621      PHAM THI NGOC DUNG   phamthingocdung3333@gmail.com
622      PHAM THI NGOC DUNG   phamthingocdung3333@gmail.com
623           LE TUNG GIANG           leetungiang@gmail.com
624         HUYNH NGOC HUNG            hnhung8998@gmail.com
625            DINH NGOC HA        ngocha11071997@gmail.com
626      NGUYEN THI KIM YEN              Yenn4504@gmail.com
627            Phm Vn Sn       phamson.d17ptit@gmail.com
628            Trn Tho Vy          thaovy100998@gmail.com
629         NGUYEN NAM TRAN   nguyennamtrand02b16@gmail.com
630    Nguyn Th Hng Dung            hongdunga2@gmail.com
631     MAI PHUOC ANH NHUNG      maiphuocanhnhung@gmail.com

                                  ALIAS                              TITLE  \
0                                   nan              business intelligence
1                           Aiden Smith                      CEO CMT-Group
2                        Chau Satakunta                                CEO
3                        Janet Rosewell                              Sales
4                           Layla Smith                              Sales
5                           Selena Pott                Revenue Coordinator
6                          Oliver Brown                              Sales
7                           Liam Miller                                nan
8                          Adelina Amor                                nan
9                          Migyur Lhamo                              Sales
10                          Nick Taylor                  Board of Director
11                            Mia Jones  aH-group ex-Director of Executive
12                          Nora Wilson                     Human Resource
13                         Alex Johnson                 Personal Assistant
14                                 Andy                         Technology
15                           Lily Smith                              Sales
16                           Jacqueline                 Personal Assistant
17                         Ethan Martin              Director of Operation
18                        Carter Watson                         Technology
19                         Anthony Ford                         Technology
20                          Maisie Ryna                              Sales
21                          Aron Wilson                              Sales
22                                  nan                              Sales
23                             Kai Phan                         Accounting
24                                  nan                                nan
25                      Tyrion Ackerman                              Sales
26                                  nan                                nan
27                                  nan                                nan
28                                  nan                     Human Resource
29                          Train Lizzy                     Human Resource
..                                  ...                                ...
602                               Peter                     Human Resource
603                            Maris Do                          Marketing
604                              Melisa                     Human Resource
605                         Jackson Dai                          Marketing
606                            Khng c                               Sale
607                                Leem                 Personal Assistant
608                           Christine                 Personal Assistant
609                              Le Nam                         Technology
610                         PETER HOANG                               Sale
611                                Stan                         Technology
612                                Tien                       data analyst
613                          Sumie Phan                          Marketing
614                       Sokrates Phan                         Technology
615  Cha lm vic vi ngi nc ngoi                          Marketing
616                                 Yun                     Human Resource
617                                 Kim                           Frontend
618                                 Bao                         Technology
619                            Alias Ky                         Technology
620                                Zoey                     Human Resource
621                               KHNG                                Law
622                               KHNG                     Human Resource
623                         d khng c                         Technology
624                          Hung Huynh                                Law
625                           Haya Dinh                     Human Resource
626                       Yensie Nguyen                 Personal Assistant
627                                 nan                                MKT
628                                 nan              business intelligence
629                                 nan              business intelligence
630                                 nan              business intelligence
631                                 nan                                 HR

    STATUS FULLTIME_PARTTIME           TIMESTAMP  \
0     temp              Part                 NaT
1       in           Partime 2020-05-25 10:21:18
2       in           Partime 2020-06-12 10:21:18
3      out           Partime 2020-06-12 10:06:10
4      out           Partime 2020-06-12 00:10:16
5       in   Fulltime Online 2020-06-12 00:07:55
6       in           Partime 2020-06-11 23:41:18
7      out           Partime 2020-06-11 22:52:47
8      out           Partime 2020-06-11 18:19:05
9      out           Partime 2020-06-11 17:59:07
10     out           Partime 2020-06-11 14:38:50
11      in           Partime 2020-06-11 10:31:20
12     out           Partime 2020-06-11 09:13:37
13     out           Partime 2020-06-10 21:28:05
14      in           Partime 2020-06-10 21:23:14
15      in           Partime 2020-06-10 20:14:24
16     out           Partime 2020-06-10 19:04:03
17      in           Partime 2020-06-10 18:18:21
18     out           Partime 2020-06-10 17:29:57
19     out           Partime 2020-06-10 17:25:48
20     out           Partime 2020-06-10 17:15:59
21     out           Partime 2020-06-10 16:15:32
22     out           Partime 2020-06-10 15:05:31
23     out           Partime 2020-06-10 13:59:05
24     out           Partime 2020-06-10 10:47:02
25      in           Partime 2020-06-10 10:40:25
26     out           Partime 2020-06-10 10:14:20
27     out   Fulltime Offine 2020-06-09 23:15:58
28     out           Partime 2020-06-09 23:11:50
29     out           Partime 2020-06-09 20:42:42
..     ...               ...                 ...
602    nan   Fulltime Offine 2020-07-04 16:13:05
603    nan   Fulltime Online 2020-07-04 16:30:48
604    nan   Fulltime Online 2020-07-04 20:13:41
605    nan           Partime 2020-07-04 20:20:04
606    nan   Fulltime Online 2020-07-04 22:12:51
607    nan   Fulltime Offine 2020-07-05 10:08:08
608    nan   Fulltime Offine 2020-07-05 11:13:12
609    nan   Fulltime Offine 2020-07-05 13:49:55
610    nan   Fulltime Online 2020-07-05 14:03:51
611    nan           Partime 2020-07-05 14:07:18
612    nan   Fulltime Offine 2020-07-05 16:14:04
613    nan   Fulltime Offine 2020-07-05 19:59:33
614    nan   Fulltime Offine 2020-07-05 21:25:52
615    nan   Fulltime Online 2020-07-05 21:41:53
616    nan   Fulltime Offine 2020-07-06 12:55:11
617    nan           Partime 2020-07-06 13:05:35
618   temp   Fulltime Online 2020-07-06 13:18:41
619   temp   Fulltime Online 2020-07-06 13:19:42
620   temp   Fulltime Offine 2020-07-06 13:23:03
621    nan   Fulltime Offine 2020-07-06 13:53:15
622    nan   Fulltime Offine 2020-07-06 13:56:21
623    nan   Fulltime Offine 2020-07-06 16:00:37
624    nan           Partime 2020-07-06 16:01:50
625    nan   Fulltime Offine 2020-07-06 16:22:23
626    nan   Fulltime Offine 2020-07-06 18:48:57
627    out              Part                 NaT
628   temp              part                 NaT
629    out              part                 NaT
630   temp              Part                 NaT
631   temp          Fulltime 2020-06-16 10:49:12

                                              FACEBOOK SKYPE        PHONE  \
0                                                  nan   nan  334571717.0
1               https://www.facebook.com/nhociu.becung   nan          nan
2                                                  nan   nan          nan
3       https://www.facebook.com/janethelittlemushroom   nan          nan
4                                                  nan   nan          nan
5                 https://www.facebook.com/selena.ltht   nan  962618483.0
6              https://www.facebook.com/quan.tran.1272   nan  356730757.0
7           https://www.facebook.com/xuanloi.duongdang   nan          nan
8                                                  nan   nan          nan
9                                                  nan   nan          nan
10                                                 nan   nan          nan
11                https://www.facebook.com/hanh.min.52   nan  917303918.0
12                                                 nan   nan          nan
13                                                 nan   nan  377040427.0
14                      https://www.facebook.com/ptanh   nan  905707188.0
15                 https://www.facebook.com/thuyvy0308   nan  934755518.0
16                                                 nan   nan          nan
17                  https://facebook.com/luong.khoa.94   nan  985848431.0
18                                                 nan   nan          nan
19              https://www.facebook.com/quang.nhien.1   nan  962663094.0
20                                                 nan   nan          nan
21            https://www.facebook.com/snguyenphucsang   nan          nan
22                                                 nan   nan          nan
23                                                 nan   nan          nan
24                                                 nan   nan          nan
25              https://www.facebook.com/vanhuy1732001   nan  899921883.0
26                                                 nan   nan          nan
27             https://www.facebook.com/duyen.hoang.75   nan          nan
28             https://www.facebook.com/duyen.hoang.76   nan  932297142.0
29             https://www.facebook.com/duyen.hoang.77   nan  932297142.0
..                                                 ...   ...          ...
602        https://www.facebook.com/hoangnghiataismile   nan  966307784.0
603                          http://www.dotrami.com.vn   nan  833973409.0
604  https://www.facebook.com/profile.php?id=100004...   nan  352887888.0
605  https://www.facebook.com/profile.php?id=100005...   nan  905910380.0
606                 https://www.facebook.com/Anhy1994/   nan  977800440.0
607             https://www.facebook.com/thuyet.le.982   nan  984484247.0
608         https://www.facebook.com/phuongtranwaseda1   nan  343929719.0
609                 https://www.facebook.com/LeNam1903   nan  333766842.0
610        https://www.facebook.com/pham.minhhoang.718   nan  923087793.0
611           https://www.facebook.com/dophuocthien23/   nan  327012782.0
612                      https://www.fb.com/ngoc.tienn   nan  775198335.0
613      https://m.facebook.com/suu.mitt?ref=bookmarks   nan  932476656.0
614        https://www.facebook.com/chan.thietmoc.524/   nan  947042737.0
615           https://www.facebook.com/congphung.huynh   nan  707316293.0
616             https://www.facebook.com/dung.doan.311   nan  911548381.0
617                               http://facebook.com/   nan  778060589.0
618  https://www.facebook.com/huynhbgiabao?ref=book...   nan  368479466.0
619                  https://www.facebook.com/caovu.ky   nan  935164857.0
620            https://www.facebook.com/nguyen.du.5203   nan  376266086.0
621                              https://bom.to/RJwtT4   nan  353517016.0
622                              https://bom.to/RJwtT4   nan  353517016.0
623               https://www.facebook.com/leetungiang   nan  901996160.0
624               https://www.facebook.com/hnhung8998/   nan  385619306.0
625            https://www.facebook.com/ngocha11071997   nan  942252367.0
626  https://www.facebook.com/profile.php?id=100013...   nan  938053609.0
627                                                nan   nan  362506773.0
628                                                nan   nan  985787765.0
629             https://www.facebook.com/chi.trungzila   nan          nan
630                                                nan   nan  334571717.0
631            https://www.facebook.com/new.start.3152   nan  935114845.0

     ...  STARTDATE OUTDATE MINHOUR  \
0    ...        NaT     NaT     nan
1    ... 2020-06-15     NaT    30.0
2    ... 2020-06-04     NaT    35.0
3    ...        NaT     NaT     nan
4    ... 2020-06-15     NaT     nan
5    ... 2020-06-15     NaT    45.0
6    ... 2020-02-16     NaT    12.0
7    ...        NaT     NaT     nan
8    ...        NaT     NaT     nan
9    ...        NaT     NaT    18.0
10   ...        NaT     NaT     nan
11   ... 2020-06-15     NaT    18.0
12   ...        NaT     NaT     nan
13   ...        NaT     NaT     nan
14   ...        NaT     NaT    11.0
15   ... 2020-06-15     NaT    18.0
16   ...        NaT     NaT     nan
17   ... 2020-06-22     NaT    25.0
18   ...        NaT     NaT     nan
19   ...        NaT     NaT     nan
20   ...        NaT     NaT     nan
21   ...        NaT     NaT     nan
22   ...        NaT     NaT     nan
23   ...        NaT     NaT    22.0
24   ...        NaT     NaT     nan
25   ... 2020-06-14     NaT    18.0
26   ...        NaT     NaT     nan
27   ...        NaT     NaT    48.0
28   ...        NaT     NaT     nan
29   ... 2020-06-10     NaT    22.0
..   ...        ...     ...     ...
602  ... 2020-07-06     NaT    40.0
603  ... 2020-07-06     NaT    30.0
604  ... 2020-07-13     NaT    45.0
605  ... 2020-07-06     NaT    22.0
606  ... 2020-10-07     NaT    48.0
607  ... 2020-07-13     NaT    48.0
608  ... 2020-10-07     NaT    48.0
609  ... 2020-07-20     NaT    30.0
610  ... 2020-07-15     NaT    48.0
611  ... 2020-07-06     NaT    48.0
612  ... 2020-12-07     NaT    30.0
613  ... 2020-07-13     NaT    40.0
614  ... 2020-07-05     NaT    48.0
615  ... 1993-09-26     NaT    45.0
616  ... 2020-07-20     NaT    40.0
617  ... 2020-12-07     NaT    28.0
618  ... 2020-07-07     NaT    40.0
619  ... 1998-05-17     NaT    30.0
620  ... 2020-06-07     NaT    44.0
621  ... 2020-07-07     NaT    30.0
622  ... 2020-07-07     NaT    30.0
623  ... 2020-07-20     NaT    40.0
624  ... 2020-07-08     NaT    22.0
625  ... 2020-07-20     NaT    44.0
626  ... 2020-07-27     NaT    45.0
627  ...        NaT     NaT     nan
628  ...        NaT     NaT     nan
629  ...        NaT     NaT    22.0
630  ...        NaT     NaT     nan
631  ... 2020-07-01     NaT     nan

                                                SALARY  \
0                                                  nan
1                                                  nan
2                                                  nan
3                                                  nan
4                                                  nan
5                                                30000
6                                                  nan
7                                                  nan
8                                                  nan
9                                                  nan
10                                                 nan
11                                                 nan
12                                                 nan
13                                                 nan
14                                               75000
15                                               20000
16                                                 nan
17                                               20000
18                                                 nan
19                                                 nan
20                                                 nan
21                                                 nan
22                                                 nan
23                                                 nan
24                                                 nan
25                                               20000
26                                                 nan
27                                                 nan
28                                                 nan
29                                               23000
..                                                 ...

In [16]:
db_memberinfo = 'QT_MEMBERINFO'
df_report = pd.read_excel('qt_memberinfo.xlsx')
df_report.columns = [x.upper() for x in df_report.columns]
df_report['DATE_MODIFIED'] = datetime.now()
col_name = df_report.dtypes.index
log = ''
try:
    for col in col_name:
        #convert to datetime
        if col == 'TIMESTAMP'or col == 'STARTDATE' or col == 'OUTDATE' or col == 'DATE_MODIFIED':
            if df_report[col].dtypes == 'float':
                df_report[col] = pd.to_datetime(df_report[col], format='%m%d%Y', errors='coerce')
            if df_report[col].dtypes != 'datetime64[ns]':
                log += 'Upload failed, fill correct the type of {} column is m/dd/yyyy\n'.format(col)
        else:
            #convert to string
            df_report[col] = df_report[col].astype(str)
    
    if log == '':
        #Insert changed rows
        #df_report.to_sql(db_memberinfo, engine, if_exists = 'append', index = False)
        log += 'Upload successful'
    print(log)
    print(df_report)
    
except:
    print('Upload failed')

Upload successful
                       NAME                           EMAIL  \
0      Nguyn Th Hng Dung            hongdunga2@gmail.com
1           TRAN TRUNG MINH            minh.tran@jvn.edu.vn
2        TRAN THI MINH CHAU    chau.tran2015@qcf.jvn.edu.vn
3             TRAN XUAN YEN           yentran1411@gmail.com
4        VUONG THI LINH CHI         chivuong2701@gmail.comm
5                    SELENA        selena0307.acn@gmail.com
6           TRAN TRUNG QUAN          tranquan9425@gmail.com
7       DUONG DANG XUAN LOI             xuanloi84@gmail.com
8                   ADELINA     adelina.thucquyen@gmail.com
9          TRINH NGOC TRINH          trinh1107557@gmail.com
10                HOANG MAC           macduchoang@gmail.com
11         VUONG HANH QUYEN        vuonghanhquyen@gmail.com
12                QUYNH NHU       lequynhnhu.qng@gmail.comm
13           LE PHUONG THAO             thaole1812000@gmail
14              PHAM TU ANH             phamtuanh@gmail.com
15     HUYNH NGUYEN THUY VY   thuyvyhuynh03082001@gmail.com
16    NGUYEN THI THANH THAO            thaodzy123@gmail.com
17          LUONG MINH KHOA                lgkhoa@gmail.com
18         HUYNH TRONG PHUC          phucht95.qnu@gmail.com
19          LUU QUANG NHIEN     quangnhienxstkk26@gmail.com
20       TRAN THI LAN HUONG       cobenhotuoikute@gmail.com
21         NGUYEN PHUC SANG    nguyenphucsang1312@gmail.com
22      TRAN THI HANH QUYEN                             nan
23              PHAN CAM TU            tuphan1441@gmail.com
24   DANG NGUYEN DIEN TRUNG                             nan
25           NGUYEN VAN HUY      huynguyen1732001@gmail.com
26                  THAO HO       thanhthao792013@gmail.com
27       HOANG THI MY DUYEN         hoangduyen272@gmail.com
28   NGUYEN PHAM THUY TRANG  trangphamnguyen2605@gmail.comm
29   NGUYEN PHAM THUY TRANG   trangphamnguyen2605@gmail.com
..                      ...                             ...
602         HOANG NGHIA TAI        hoangtaiqtnl42@gmail.com
603           DO THI TRA MI         trami2313.tmd@gmail.com
604       TRAN THI NGOC MAI       tranngocmai2198@gmail.com
605          TRUONG VAN DAI         daitruong1998@gmail.com
606                LE ANH Y            leanhy1994@gmail.com
607     LE THI HONG THUUYET       lehongthuyet119@gmail.com
608    TRAN THI VIET PHUONG      christinewaseda2@gmail.com
609      LE DINH PHUONG NAM           lenam190300@gmail.com
610         PHAM MINH HOANG        peterhoang1295@gmail.com
611          DO PHUOC THIEN             dpthien47@gmail.com
612         HUYNH NGOC TIEN            hntien1712@gmail.com
613     PHANNGUYENHOANGOANH           oanhphan121@gmail.com
614    Phan Phng Hunh c           duc13121997@gmail.com
615        HUYNH CONG PHUNG       huynhcongphung4@gmail.com
616   DOAN KHOA PHUONG DUNG      yun.dungdoan1704@gmail.com
617         BUI THI KIM CHI      buithikimchi2912@gmail.com
618        HUYNH BA GIA BAO       huynhbgiabao977@gmail.com
619               Cao V K              choanpoi@gmail.com
620          DUONG THAO NHI          duongnhi.dtn@gmail.com
621      PHAM THI NGOC DUNG   phamthingocdung3333@gmail.com
622      PHAM THI NGOC DUNG   phamthingocdung3333@gmail.com
623           LE TUNG GIANG           leetungiang@gmail.com
624         HUYNH NGOC HUNG            hnhung8998@gmail.com
625            DINH NGOC HA        ngocha11071997@gmail.com
626      NGUYEN THI KIM YEN              Yenn4504@gmail.com
627            Phm Vn Sn       phamson.d17ptit@gmail.com
628            Trn Tho Vy          thaovy100998@gmail.com
629         NGUYEN NAM TRAN   nguyennamtrand02b16@gmail.com
630    Nguyn Th Hng Dung            hongdunga2@gmail.com
631     MAI PHUOC ANH NHUNG      maiphuocanhnhung@gmail.com

                                  ALIAS                              TITLE  \
0                                   nan              business intelligence
1                           Aiden Smith                      CEO CMT-Group
2                        Chau Satakunta                                CEO
3                        Janet Rosewell                              Sales
4                           Layla Smith                              Sales
5                           Selena Pott                Revenue Coordinator
6                          Oliver Brown                              Sales
7                           Liam Miller                                nan
8                          Adelina Amor                                nan
9                          Migyur Lhamo                              Sales
10                          Nick Taylor                  Board of Director
11                            Mia Jones  aH-group ex-Director of Executive
12                          Nora Wilson                     Human Resource
13                         Alex Johnson                 Personal Assistant
14                                 Andy                         Technology
15                           Lily Smith                              Sales
16                           Jacqueline                 Personal Assistant
17                         Ethan Martin              Director of Operation
18                        Carter Watson                         Technology
19                         Anthony Ford                         Technology
20                          Maisie Ryna                              Sales
21                          Aron Wilson                              Sales
22                                  nan                              Sales
23                             Kai Phan                         Accounting
24                                  nan                                nan
25                      Tyrion Ackerman                              Sales
26                                  nan                                nan
27                                  nan                                nan
28                                  nan                     Human Resource
29                          Train Lizzy                     Human Resource
..                                  ...                                ...
602                               Peter                     Human Resource
603                            Maris Do                          Marketing
604                              Melisa                     Human Resource
605                         Jackson Dai                          Marketing
606                            Khng c                               Sale
607                                Leem                 Personal Assistant
608                           Christine                 Personal Assistant
609                              Le Nam                         Technology
610                         PETER HOANG                               Sale
611                                Stan                         Technology
612                                Tien                       data analyst
613                          Sumie Phan                          Marketing
614                       Sokrates Phan                         Technology
615  Cha lm vic vi ngi nc ngoi                          Marketing
616                                 Yun                     Human Resource
617                                 Kim                           Frontend
618                                 Bao                         Technology
619                            Alias Ky                         Technology
620                                Zoey                     Human Resource
621                               KHNG                                Law
622                               KHNG                     Human Resource
623                         d khng c                         Technology
624                          Hung Huynh                                Law
625                           Haya Dinh                     Human Resource
626                       Yensie Nguyen                 Personal Assistant
627                                 nan                                MKT
628                                 nan              business intelligence
629                                 nan              business intelligence
630                                 nan              business intelligence
631                                 nan                                 HR

    STATUS FULLTIME_PARTTIME           TIMESTAMP  \
0     temp              Part                 NaT
1       in           Partime 2020-05-25 10:21:18
2       in           Partime 2020-06-12 10:21:18
3      out           Partime 2020-06-12 10:06:10
4      out           Partime 2020-06-12 00:10:16
5       in   Fulltime Online 2020-06-12 00:07:55
6       in           Partime 2020-06-11 23:41:18
7      out           Partime 2020-06-11 22:52:47
8      out           Partime 2020-06-11 18:19:05
9      out           Partime 2020-06-11 17:59:07
10     out           Partime 2020-06-11 14:38:50
11      in           Partime 2020-06-11 10:31:20
12     out           Partime 2020-06-11 09:13:37
13     out           Partime 2020-06-10 21:28:05
14      in           Partime 2020-06-10 21:23:14
15      in           Partime 2020-06-10 20:14:24
16     out           Partime 2020-06-10 19:04:03
17      in           Partime 2020-06-10 18:18:21
18     out           Partime 2020-06-10 17:29:57
19     out           Partime 2020-06-10 17:25:48
20     out           Partime 2020-06-10 17:15:59
21     out           Partime 2020-06-10 16:15:32
22     out           Partime 2020-06-10 15:05:31
23     out           Partime 2020-06-10 13:59:05
24     out           Partime 2020-06-10 10:47:02
25      in           Partime 2020-06-10 10:40:25
26     out           Partime 2020-06-10 10:14:20
27     out   Fulltime Offine 2020-06-09 23:15:58
28     out           Partime 2020-06-09 23:11:50
29     out           Partime 2020-06-09 20:42:42
..     ...               ...                 ...
602    nan   Fulltime Offine 2020-07-04 16:13:05
603    nan   Fulltime Online 2020-07-04 16:30:48
604    nan   Fulltime Online 2020-07-04 20:13:41
605    nan           Partime 2020-07-04 20:20:04
606    nan   Fulltime Online 2020-07-04 22:12:51
607    nan   Fulltime Offine 2020-07-05 10:08:08
608    nan   Fulltime Offine 2020-07-05 11:13:12
609    nan   Fulltime Offine 2020-07-05 13:49:55
610    nan   Fulltime Online 2020-07-05 14:03:51
611    nan           Partime 2020-07-05 14:07:18
612    nan   Fulltime Offine 2020-07-05 16:14:04
613    nan   Fulltime Offine 2020-07-05 19:59:33
614    nan   Fulltime Offine 2020-07-05 21:25:52
615    nan   Fulltime Online 2020-07-05 21:41:53
616    nan   Fulltime Offine 2020-07-06 12:55:11
617    nan           Partime 2020-07-06 13:05:35
618   temp   Fulltime Online 2020-07-06 13:18:41
619   temp   Fulltime Online 2020-07-06 13:19:42
620   temp   Fulltime Offine 2020-07-06 13:23:03
621    nan   Fulltime Offine 2020-07-06 13:53:15
622    nan   Fulltime Offine 2020-07-06 13:56:21
623    nan   Fulltime Offine 2020-07-06 16:00:37
624    nan           Partime 2020-07-06 16:01:50
625    nan   Fulltime Offine 2020-07-06 16:22:23
626    nan   Fulltime Offine 2020-07-06 18:48:57
627    out              Part                 NaT
628   temp              part                 NaT
629    out              part                 NaT
630   temp              Part                 NaT
631   temp          Fulltime 2020-06-16 10:49:12

                                              FACEBOOK SKYPE        PHONE  \
0                                                  nan   nan  334571717.0
1               https://www.facebook.com/nhociu.becung   nan          nan
2                                                  nan   nan          nan
3       https://www.facebook.com/janethelittlemushroom   nan          nan
4                                                  nan   nan          nan
5                 https://www.facebook.com/selena.ltht   nan  962618483.0
6              https://www.facebook.com/quan.tran.1272   nan  356730757.0
7           https://www.facebook.com/xuanloi.duongdang   nan          nan
8                                                  nan   nan          nan
9                                                  nan   nan          nan
10                                                 nan   nan          nan
11                https://www.facebook.com/hanh.min.52   nan  917303918.0
12                                                 nan   nan          nan
13                                                 nan   nan  377040427.0
14                      https://www.facebook.com/ptanh   nan  905707188.0
15                 https://www.facebook.com/thuyvy0308   nan  934755518.0
16                                                 nan   nan          nan
17                  https://facebook.com/luong.khoa.94   nan  985848431.0
18                                                 nan   nan          nan
19              https://www.facebook.com/quang.nhien.1   nan  962663094.0
20                                                 nan   nan          nan
21            https://www.facebook.com/snguyenphucsang   nan          nan
22                                                 nan   nan          nan
23                                                 nan   nan          nan
24                                                 nan   nan          nan
25              https://www.facebook.com/vanhuy1732001   nan  899921883.0
26                                                 nan   nan          nan
27             https://www.facebook.com/duyen.hoang.75   nan          nan
28             https://www.facebook.com/duyen.hoang.76   nan  932297142.0
29             https://www.facebook.com/duyen.hoang.77   nan  932297142.0
..                                                 ...   ...          ...
602        https://www.facebook.com/hoangnghiataismile   nan  966307784.0
603                          http://www.dotrami.com.vn   nan  833973409.0
604  https://www.facebook.com/profile.php?id=100004...   nan  352887888.0
605  https://www.facebook.com/profile.php?id=100005...   nan  905910380.0
606                 https://www.facebook.com/Anhy1994/   nan  977800440.0
607             https://www.facebook.com/thuyet.le.982   nan  984484247.0
608         https://www.facebook.com/phuongtranwaseda1   nan  343929719.0
609                 https://www.facebook.com/LeNam1903   nan  333766842.0
610        https://www.facebook.com/pham.minhhoang.718   nan  923087793.0
611           https://www.facebook.com/dophuocthien23/   nan  327012782.0
612                      https://www.fb.com/ngoc.tienn   nan  775198335.0
613      https://m.facebook.com/suu.mitt?ref=bookmarks   nan  932476656.0
614        https://www.facebook.com/chan.thietmoc.524/   nan  947042737.0
615           https://www.facebook.com/congphung.huynh   nan  707316293.0
616             https://www.facebook.com/dung.doan.311   nan  911548381.0
617                               http://facebook.com/   nan  778060589.0
618  https://www.facebook.com/huynhbgiabao?ref=book...   nan  368479466.0
619                  https://www.facebook.com/caovu.ky   nan  935164857.0
620            https://www.facebook.com/nguyen.du.5203   nan  376266086.0
621                              https://bom.to/RJwtT4   nan  353517016.0
622                              https://bom.to/RJwtT4   nan  353517016.0
623               https://www.facebook.com/leetungiang   nan  901996160.0
624               https://www.facebook.com/hnhung8998/   nan  385619306.0
625            https://www.facebook.com/ngocha11071997   nan  942252367.0
626  https://www.facebook.com/profile.php?id=100013...   nan  938053609.0
627                                                nan   nan  362506773.0
628                                                nan   nan  985787765.0
629             https://www.facebook.com/chi.trungzila   nan          nan
630                                                nan   nan  334571717.0
631            https://www.facebook.com/new.start.3152   nan  935114845.0

     ...  STARTDATE OUTDATE MINHOUR  \
0    ...        NaT     NaT     nan
1    ... 2020-06-15     NaT    30.0
2    ... 2020-06-04     NaT    35.0
3    ...        NaT     NaT     nan
4    ... 2020-06-15     NaT     nan
5    ... 2020-06-15     NaT    45.0
6    ... 2020-02-16     NaT    12.0
7    ...        NaT     NaT     nan
8    ...        NaT     NaT     nan
9    ...        NaT     NaT    18.0
10   ...        NaT     NaT     nan
11   ... 2020-06-15     NaT    18.0
12   ...        NaT     NaT     nan
13   ...        NaT     NaT     nan
14   ...        NaT     NaT    11.0
15   ... 2020-06-15     NaT    18.0
16   ...        NaT     NaT     nan
17   ... 2020-06-22     NaT    25.0
18   ...        NaT     NaT     nan
19   ...        NaT     NaT     nan
20   ...        NaT     NaT     nan
21   ...        NaT     NaT     nan
22   ...        NaT     NaT     nan
23   ...        NaT     NaT    22.0
24   ...        NaT     NaT     nan
25   ... 2020-06-14     NaT    18.0
26   ...        NaT     NaT     nan
27   ...        NaT     NaT    48.0
28   ...        NaT     NaT     nan
29   ... 2020-06-10     NaT    22.0
..   ...        ...     ...     ...
602  ... 2020-07-06     NaT    40.0
603  ... 2020-07-06     NaT    30.0
604  ... 2020-07-13     NaT    45.0
605  ... 2020-07-06     NaT    22.0
606  ... 2020-10-07     NaT    48.0
607  ... 2020-07-13     NaT    48.0
608  ... 2020-10-07     NaT    48.0
609  ... 2020-07-20     NaT    30.0
610  ... 2020-07-15     NaT    48.0
611  ... 2020-07-06     NaT    48.0
612  ... 2020-12-07     NaT    30.0
613  ... 2020-07-13     NaT    40.0
614  ... 2020-07-05     NaT    48.0
615  ... 1993-09-26     NaT    45.0
616  ... 2020-07-20     NaT    40.0
617  ... 2020-12-07     NaT    28.0
618  ... 2020-07-07     NaT    40.0
619  ... 1998-05-17     NaT    30.0
620  ... 2020-06-07     NaT    44.0
621  ... 2020-07-07     NaT    30.0
622  ... 2020-07-07     NaT    30.0
623  ... 2020-07-20     NaT    40.0
624  ... 2020-07-08     NaT    22.0
625  ... 2020-07-20     NaT    44.0
626  ... 2020-07-27     NaT    45.0
627  ...        NaT     NaT     nan
628  ...        NaT     NaT     nan
629  ...        NaT     NaT    22.0
630  ...        NaT     NaT     nan
631  ... 2020-07-01     NaT     nan

                                                SALARY  \
0                                                  nan
1                                                  nan
2                                                  nan
3                                                  nan
4                                                  nan
5                                                30000
6                                                  nan
7                                                  nan
8                                                  nan
9                                                  nan
10                                                 nan
11                                                 nan
12                                                 nan
13                                                 nan
14                                               75000
15                                               20000
16                                                 nan
17                                               20000
18                                                 nan
19                                                 nan
20                                                 nan
21                                                 nan
22                                                 nan
23                                                 nan
24                                                 nan
25                                               20000
26                                                 nan
27                                                 nan
28                                                 nan
29                                               23000
..                                                 ...

In [19]:
db_functions = 'QT_MEMBERINFO'
df = pd.read_sql("select * from {}".format(db_functions), engine)
print(df)

                       name                           email  \
0                 QUYNH NHU       lequynhnhu.qng@gmail.comm
1            LE PHUONG THAO             thaole1812000@gmail
2               PHAM TU ANH             phamtuanh@gmail.com
3      HUYNH NGUYEN THUY VY   thuyvyhuynh03082001@gmail.com
4     NGUYEN THI THANH THAO            thaodzy123@gmail.com
5           LUONG MINH KHOA                lgkhoa@gmail.com
6          HUYNH TRONG PHUC          phucht95.qnu@gmail.com
7           LUU QUANG NHIEN     quangnhienxstkk26@gmail.com
8        TRAN THI LAN HUONG       cobenhotuoikute@gmail.com
9          NGUYEN PHUC SANG    nguyenphucsang1312@gmail.com
10      TRAN THI HANH QUYEN                             nan
11              PHAN CAM TU            tuphan1441@gmail.com
12   DANG NGUYEN DIEN TRUNG                             nan
13           NGUYEN VAN HUY      huynguyen1732001@gmail.com
14                  THAO HO       thanhthao792013@gmail.com
15       HOANG THI MY DUYEN         hoangduyen272@gmail.com
16   NGUYEN PHAM THUY TRANG  trangphamnguyen2605@gmail.comm
17   NGUYEN PHAM THUY TRANG   trangphamnguyen2605@gmail.com
18     Nguyn Th Hng Dung            hongdunga2@gmail.com
19          TRAN TRUNG MINH            minh.tran@jvn.edu.vn
20       TRAN THI MINH CHAU    chau.tran2015@qcf.jvn.edu.vn
21            TRAN XUAN YEN           yentran1411@gmail.com
22       VUONG THI LINH CHI         chivuong2701@gmail.comm
23                   SELENA        selena0307.acn@gmail.com
24          TRAN TRUNG QUAN          tranquan9425@gmail.com
25      DUONG DANG XUAN LOI             xuanloi84@gmail.com
26                  ADELINA     adelina.thucquyen@gmail.com
27         TRINH NGOC TRINH          trinh1107557@gmail.com
28                HOANG MAC           macduchoang@gmail.com
29         VUONG HANH QUYEN        vuonghanhquyen@gmail.com
..                      ...                             ...
602           DO THI TRA MI         trami2313.tmd@gmail.com
603       TRAN THI NGOC MAI       tranngocmai2198@gmail.com
604          TRUONG VAN DAI         daitruong1998@gmail.com
605           MAI VIET HUNG        maiviethung.dn@gmail.com
606              HO THI GAM          gauhoo151297@gmail.com
607        ONG THI MY THANH           ongtmythanh@gmail.com
608                LE ANH Y            leanhy1994@gmail.com
609     LE THI HONG THUUYET       lehongthuyet119@gmail.com
610    TRAN THI VIET PHUONG      christinewaseda2@gmail.com
611      LE DINH PHUONG NAM           lenam190300@gmail.com
612             LE THI HANG            Hang.lt226@gmail.com
613    TRINH THI THANH THUY       thanhthuy210197@gmail.com
614           DUONG NGOC LE         duongngocle96@gmail.com
615     HOANG THI BICH THUY       hoangthuy090790@gmail.com
616            VO DUY QUYEN            duyquyen73@gmail.com
617         PHAM MINH HOANG        peterhoang1295@gmail.com
618          DO PHUOC THIEN             dpthien47@gmail.com
619         HUYNH NGOC TIEN            hntien1712@gmail.com
620     PHANNGUYENHOANGOANH           oanhphan121@gmail.com
621    Phan Phng Hunh c           duc13121997@gmail.com
622          HOANG HUU MANH        hoanghuumanh54@gmail.com
623      LE THI PHUONG DUNG          dungle010496@gmail.com
624           NGUYEN VAN RU       nguyenvanru2015@gmail.com
625              HA THI HUE           huehathi710@gmail.com
626                LE HOANG            hoangdut16@gmail.com
627        HUYNH CONG PHUNG       huynhcongphung4@gmail.com
628   DOAN KHOA PHUONG DUNG      yun.dungdoan1704@gmail.com
629         BUI THI KIM CHI      buithikimchi2912@gmail.com
630        HUYNH BA GIA BAO       huynhbgiabao977@gmail.com
631               Cao V K              choanpoi@gmail.com

                                  alias                              title  \
0                           Nora Wilson                     Human Resource
1                          Alex Johnson                 Personal Assistant
2                                  Andy                         Technology
3                            Lily Smith                              Sales
4                            Jacqueline                 Personal Assistant
5                          Ethan Martin              Director of Operation
6                         Carter Watson                         Technology
7                          Anthony Ford                         Technology
8                           Maisie Ryna                              Sales
9                           Aron Wilson                              Sales
10                                  nan                              Sales
11                             Kai Phan                         Accounting
12                                  nan                                nan
13                      Tyrion Ackerman                              Sales
14                                  nan                                nan
15                                  nan                                nan
16                                  nan                     Human Resource
17                          Train Lizzy                     Human Resource
18                                  nan              business intelligence
19                          Aiden Smith                      CEO CMT-Group
20                       Chau Satakunta                                CEO
21                       Janet Rosewell                              Sales
22                          Layla Smith                              Sales
23                          Selena Pott                Revenue Coordinator
24                         Oliver Brown                              Sales
25                          Liam Miller                                nan
26                         Adelina Amor                                nan
27                         Migyur Lhamo                              Sales
28                          Nick Taylor                  Board of Director
29                            Mia Jones  aH-group ex-Director of Executive
..                                  ...                                ...
602                            Maris Do                          Marketing
603                              Melisa                     Human Resource
604                         Jackson Dai                          Marketing
605                                Adam                         Technology
606                            Jenny Ho                     Human Resource
607                               SANDY                     Human Resource
608                            Khng c                               Sale
609                                Leem                 Personal Assistant
610                           Christine                 Personal Assistant
611                              Le Nam                         Technology
612                             Cha c                          Marketing
613                            Jennifer                                Law
614                                  LE                         Technology
615                                July                     Human Resource
616                               QUYEN                         Technology
617                         PETER HOANG                               Sale
618                                Stan                         Technology
619                                Tien                       data analyst
620                          Sumie Phan                          Marketing
621                       Sokrates Phan                         Technology
622                                MANH                         Technology
623                             Dung Le                     Human Resource
624                                wick                                Law
625                                 HUE                         Technology
626                               HOANG                         Technology
627  Cha lm vic vi ngi nc ngoi                          Marketing
628                                 Yun                     Human Resource
629                                 Kim                           Frontend
630                                 Bao                         Technology
631                            Alias Ky                         Technology

      status fulltime_parttime           timestamp  \
0        out           Partime 2020-06-11 09:13:37
1        out           Partime 2020-06-10 21:28:05
2         in           Partime 2020-06-10 21:23:14
3         in           Partime 2020-06-10 20:14:24
4        out           Partime 2020-06-10 19:04:03
5         in           Partime 2020-06-10 18:18:21
6        out           Partime 2020-06-10 17:29:57
7        out           Partime 2020-06-10 17:25:48
8        out           Partime 2020-06-10 17:15:59
9        out           Partime 2020-06-10 16:15:32
10       out           Partime 2020-06-10 15:05:31
11       out           Partime 2020-06-10 13:59:05
12       out           Partime 2020-06-10 10:47:02
13        in           Partime 2020-06-10 10:40:25
14       out           Partime 2020-06-10 10:14:20
15       out   Fulltime Offine 2020-06-09 23:15:58
16       out           Partime 2020-06-09 23:11:50
17       out           Partime 2020-06-09 20:42:42
18      temp              Part                 NaT
19        in           Partime 2020-05-25 10:21:18
20        in           Partime 2020-06-12 10:21:18
21       out           Partime 2020-06-12 10:06:10
22       out           Partime 2020-06-12 00:10:16
23        in   Fulltime Online 2020-06-12 00:07:55
24        in           Partime 2020-06-11 23:41:18
25       out           Partime 2020-06-11 22:52:47
26       out           Partime 2020-06-11 18:19:05
27       out           Partime 2020-06-11 17:59:07
28       out           Partime 2020-06-11 14:38:50
29        in           Partime 2020-06-11 10:31:20
..       ...               ...                 ...
602      nan   Fulltime Online 2020-07-04 16:30:48
603      nan   Fulltime Online 2020-07-04 20:13:41
604      nan           Partime 2020-07-04 20:20:04
605  dealing   Fulltime Offine 2020-06-24 15:07:08
606  dealing   Fulltime Offine 2020-06-24 15:54:16
607  dealing   Fulltime Offine 2020-06-24 22:56:44
608      nan   Fulltime Online 2020-07-04 22:12:51
609      nan   Fulltime Offine 2020-07-05 10:08:08
610      nan   Fulltime Offine 2020-07-05 11:13:12
611      nan   Fulltime Offine 2020-07-05 13:49:55
612      out   Fulltime Online 2020-06-25 08:51:05
613      out   Fulltime Online 2020-06-25 17:15:28
614     temp           Partime 2020-06-25 17:53:04
615      out   Fulltime Offine 2020-06-25 19:20:36
616      out   Fulltime Offine 2020-06-26 11:28:51
617      nan   Fulltime Online 2020-07-05 14:03:51
618      nan           Partime 2020-07-05 14:07:18
619      nan   Fulltime Offine 2020-07-05 16:14:04
620      nan   Fulltime Offine 2020-07-05 19:59:33
621      nan   Fulltime Offine 2020-07-05 21:25:52
622     temp   Fulltime Offine 2020-06-26 11:32:36
623  dealing   Fulltime Offine 2020-06-26 11:51:47
624  dealing   Fulltime Online 2020-06-26 12:53:17
625     temp   Fulltime Offine 2020-06-26 20:41:30
626     temp   Fulltime Online 2020-06-26 20:44:38
627      nan   Fulltime Online 2020-07-05 21:41:53
628      nan   Fulltime Offine 2020-07-06 12:55:11
629      nan           Partime 2020-07-06 13:05:35
630     temp   Fulltime Online 2020-07-06 13:18:41
631     temp   Fulltime Online 2020-07-06 13:19:42

                                              facebook skype        phone  \
0                                                  nan   nan          nan
1                                                  nan   nan  377040427.0
2                       https://www.facebook.com/ptanh   nan  905707188.0
3                  https://www.facebook.com/thuyvy0308   nan  934755518.0
4                                                  nan   nan          nan
5                   https://facebook.com/luong.khoa.94   nan  985848431.0
6                                                  nan   nan          nan
7               https://www.facebook.com/quang.nhien.1   nan  962663094.0
8                                                  nan   nan          nan
9             https://www.facebook.com/snguyenphucsang   nan          nan
10                                                 nan   nan          nan
11                                                 nan   nan          nan
12                                                 nan   nan          nan
13              https://www.facebook.com/vanhuy1732001   nan  899921883.0
14                                                 nan   nan          nan
15             https://www.facebook.com/duyen.hoang.75   nan          nan
16             https://www.facebook.com/duyen.hoang.76   nan  932297142.0
17             https://www.facebook.com/duyen.hoang.77   nan  932297142.0
18                                                 nan   nan  334571717.0
19              https://www.facebook.com/nhociu.becung   nan          nan
20                                                 nan   nan          nan
21      https://www.facebook.com/janethelittlemushroom   nan          nan
22                                                 nan   nan          nan
23                https://www.facebook.com/selena.ltht   nan  962618483.0
24             https://www.facebook.com/quan.tran.1272   nan  356730757.0
25          https://www.facebook.com/xuanloi.duongdang   nan          nan
26                                                 nan   nan          nan
27                                                 nan   nan          nan
28                                                 nan   nan          nan
29                https://www.facebook.com/hanh.min.52   nan  917303918.0
..                                                 ...   ...          ...
602                          http://www.dotrami.com.vn   nan  833973409.0
603  https://www.facebook.com/profile.php?id=100004...   nan  352887888.0
604  https://www.facebook.com/profile.php?id=100005...   nan  905910380.0
605  https://www.facebook.com/profile.php?id=100033...   nan  905623427.0
606  https://www.facebook.com/profile.php?id=100009...   nan  383791675.0
607                https://www.facebook.com/mythanhdn/   nan  796623344.0
608                 https://www.facebook.com/Anhy1994/   nan  977800440.0
609             https://www.facebook.com/thuyet.le.982   nan  984484247.0
610         https://www.facebook.com/phuongtranwaseda1   nan  343929719.0
611                 https://www.facebook.com/LeNam1903   nan  333766842.0
612                https://www.facebook.com/hangle.226   nan  905604682.0
613                          https://www.facebook.com/   nan  935108415.0
614          https://www.facebook.com/duong.le.5458498   nan  905603525.0
615           https://www.facebook.com/bichthuykd0907/   nan  905213990.0
616               https://www.facebook.com/quyen.vo.92   nan  389060362.0
617        https://www.facebook.com/pham.minhhoang.718   nan  923087793.0
618           https://www.facebook.com/dophuocthien23/   nan  327012782.0
619                      https://www.fb.com/ngoc.tienn   nan  775198335.0
620      https://m.facebook.com/suu.mitt?ref=bookmarks   nan  932476656.0
621        https://www.facebook.com/chan.thietmoc.524/   nan  947042737.0
622                 https://www.facebook.com/Fateri45/   nan  924552724.0
623                 https://www.facebook.com/dung.0104   nan  978771929.0
624  https://www.facebook.com/profile.php?id=100009...   nan  965316425.0
625               https://www.facebook.com/ha.hue.1401   nan  986997837.0
626            https://www.facebook.com/hoangtulai1012   nan  369874979.0
627           https://www.facebook.com/congphung.huynh   nan  707316293.0
628             https://www.facebook.com/dung.doan.311   nan  911548381.0
629                               http://facebook.com/   nan  778060589.0
630  https://www.facebook.com/huynhbgiabao?ref=book...   nan  368479466.0
631                  https://www.facebook.com/caovu.ky   nan  935164857.0

     ... outdate minhour                                             salary  \
0    ...    None     nan                                                nan
1    ...    None     nan                                                nan
2    ...    None    11.0                                              75000
3    ...    None    18.0                                              20000
4    ...    None     nan                                                nan
5    ...    None    25.0                                              20000
6    ...    None     nan                                                nan
7    ...    None     nan                                                nan
8    ...    None     nan                                                nan
9    ...    None     nan                                                nan
10   ...    None     nan                                                nan
11   ...    None    22.0                                                nan
12   ...    None     nan                                                nan
13   ...    None    18.0                                              20000
14   ...    None     nan                                                nan
15   ...    None    48.0                                                nan
16   ...    None     nan                                                nan
17   ...    None    22.0                                              23000
18   ...    None     nan                                                nan
19   ...    None    30.0                                                nan
20   ...    None    35.0                                                nan
21   ...    None     nan                                                nan
22   ...    None     nan                                                nan
23   ...    None    45.0                                              30000
24   ...    None    12.0                                                nan
25   ...    None     nan                                                nan
26   ...    None     nan                                                nan
27   ...    None    18.0                                                nan
28   ...    None     nan                                                nan
29   ...    None    18.0                                                nan
..   ...     ...     ...                                                ...
602  ...    None    30.0                                              50000
603  ...    None    45.0                                            7000000
604  ...    None    22.0                                              20000
605  ...    None    40.0                                             200000
606  ...    None    48.0                                          6-8 TRIEU
607  ...    None    48.0                                      5000000( 48h)
608  ...    None    48.0                                                 30
609  ...    None    48.0                                              50000
610  ...    None    48.0                                         Tha thun
611  ...    None    30.0                                               5000
612  ...    None    44.0                                              40000
613  ...    None    40.0                                                nan
614  ...    None    22.0                                                  0
615  ...    None    44.0                                              28000
616  ...    None    44.0                                            2000000
617  ...    None    48.0                                              25000
618  ...    None    48.0  Sorry, I am intern. This should be discussed l...
619  ...    None    30.0                                              40000
620  ...    None    40.0                                              30000

In [3]:
db_functions = 'qt_functions'
df = pd.read_sql("select * from {} where LIB not like 'sys_file'".format(db_functions), engine)
print(df)

                    function  \
0             push_transport
1              get_transport
2   push_recruitment_longhai
3     push_recruitment_group
4      get_recruitment_group
5             get_memberinfo
6        run_hubspot_message
7         send_facebookgroup
8     run_facebook_grouppost
9           check_permission
10                     hello
11                        hi
12          get_weeklyreport
13         push_weeklyreport
14                 push_note
15              get_filepath
16            get_folderpath
17             list_function
18             push_function
19              get_function
20              push_sysfile
21   get_recruitment_longhai
22      push_recruitment_hr2
23       get_recruitment_hr2
24               get_sysfile
25                    whatis
26             check_version
27                    backup
28                  rollback
29     check_exists_by_class
30            custom_subject
31            custom_message
32             send_facebook
33      run_facebook_message
34             send_linkedin
35      run_linkedin_message
36              send_hubspot
37                send_gmail
38         run_gmail_message
39    push_product_expansion
40     get_product_expansion

                                              content             lib  \
0   def push_transport():\n    import pandas as pd...      lib_custom
1   def get_transport(status='all'):\n    import p...      lib_custom
2   def push_recruitment_longhai():\n    import pa...      lib_custom
3   def push_recruitment_group():\n    import pand...      lib_custom
4   def get_recruitment_group(status='all'):\n    ...      lib_custom
5   import pandas as pd\nfrom datetime import date...  lib_memberinfo
6   def run_hubspot_message(min_delay = 3):\n    l...         lib_bot
7   def send_facebookgroup(browser, facebook_group...         lib_bot
8   def run_facebook_grouppost(min_delay = 3):\n  ...         lib_bot
9   def check_permission():\n    from datetime imp...      lib_custom
10  def hello(text = 'Hello, world!'):\n    return...      lib_custom
11          def hi():\n    return 'Hi there!'\n    \n      lib_custom
12  def get_weeklyreport(name = 'all'):\n    try:\...       lib_tempo
13  import PySimpleGUI as sg\nimport pandas as pd\...       lib_tempo
14  def push_note():\n    import os\n    from pydr...       lib_tempo
15  import PySimpleGUI as sg\nimport os, sys\nimpo...         lib_sys
16  def get_folderpath():\n    try:\n        path ...         lib_sys
17  def list_function():\n    all_functions = []\n...         lib_sys
18  def push_function():\n    log = ''\n    list_f...         lib_sys
19  def get_function(libname = None):\n    log = '...         lib_sys
20  def push_sysfile(method = None):\n    log = ''...         lib_sys
21  def get_recruitment_longhai(status='all'):\n  ...      lib_custom
22  def push_recruitment_hr2():\n    import pandas...      lib_custom
23  def get_recruitment_hr2(status='all'):\n    im...      lib_custom
24  def get_sysfile():\n    log = ''\n    df = pd....         lib_sys
25  def whatis(module):\n    return pydoc.render_d...         lib_sys
26  def check_version():\n    log = ''\n    df = p...         lib_sys
27  def backup(list_files):\n    backup_folder = '...         lib_sys
28  def rollback(backup_folder):\n    list_path = ...         lib_sys
29  import random, sys, time\nfrom selenium import...         lib_bot
30  def custom_subject(subject, name):\n    return...         lib_bot
31  def custom_message(message, name):\n    return...         lib_bot
32  def send_facebook(browser, facebook, facebook_...         lib_bot
33  def run_facebook_message(min_delay = 3):\n    ...         lib_bot
34  def send_linkedin(browser, linkedin, message, ...         lib_bot
35  def run_linkedin_message(min_delay = 3):\n    ...         lib_bot
36  def send_hubspot(browser, email, subject, mess...         lib_bot
37  def send_gmail(browser, email, subject, messag...         lib_bot
38  def run_gmail_message(min_delay = 3):\n    log...         lib_bot
39  def push_product_expansion():\n    import pand...      lib_custom
40  def get_product_expansion(status='all'):\n    ...      lib_custom

               name       date_modified
0   TRAN TRUNG MINH 2020-07-06 21:03:50
1   TRAN TRUNG MINH 2020-07-06 21:03:50
2   TRAN TRUNG MINH 2020-07-06 21:03:50
3   TRAN TRUNG MINH 2020-07-06 21:03:50
4   TRAN TRUNG MINH 2020-07-06 21:03:50
5   TRAN TRUNG MINH 2020-07-06 21:03:53
6   TRAN TRUNG MINH 2020-07-06 21:03:47
7   TRAN TRUNG MINH 2020-07-06 21:03:47
8   TRAN TRUNG MINH 2020-07-06 21:03:47
9   TRAN TRUNG MINH 2020-07-06 21:03:50
10  TRAN TRUNG MINH 2020-07-06 21:03:50
11  TRAN TRUNG MINH 2020-07-06 21:03:50
12  TRAN TRUNG MINH 2020-07-06 21:03:44
13  TRAN TRUNG MINH 2020-07-06 21:03:44
14  TRAN TRUNG MINH 2020-07-06 21:03:44
15  TRAN TRUNG MINH 2020-07-06 21:03:45
16  TRAN TRUNG MINH 2020-07-06 21:03:45
17  TRAN TRUNG MINH 2020-07-06 21:03:45
18  TRAN TRUNG MINH 2020-07-06 21:03:45
19  TRAN TRUNG MINH 2020-07-06 21:03:45
20  TRAN TRUNG MINH 2020-07-06 21:03:45
21  TRAN TRUNG MINH 2020-07-06 21:03:50
22  TRAN TRUNG MINH 2020-07-06 21:03:50
23  TRAN TRUNG MINH 2020-07-06 21:03:50
24  TRAN TRUNG MINH 2020-07-06 21:03:45
25  TRAN TRUNG MINH 2020-07-06 21:03:45
26  TRAN TRUNG MINH 2020-07-06 21:03:45
27  TRAN TRUNG MINH 2020-07-06 21:03:45
28  TRAN TRUNG MINH 2020-07-06 21:03:45
29  TRAN TRUNG MINH 2020-07-06 21:03:47
30  TRAN TRUNG MINH 2020-07-06 21:03:47
31  TRAN TRUNG MINH 2020-07-06 21:03:47
32  TRAN TRUNG MINH 2020-07-06 21:03:47
33  TRAN TRUNG MINH 2020-07-06 21:03:47
34  TRAN TRUNG MINH 2020-07-06 21:03:47
35  TRAN TRUNG MINH 2020-07-06 21:03:47
36  TRAN TRUNG MINH 2020-07-06 21:03:47
37  TRAN TRUNG MINH 2020-07-06 21:03:47
38  TRAN TRUNG MINH 2020-07-06 21:03:47
39  TRAN TRUNG MINH 2020-07-06 21:03:50
40  TRAN TRUNG MINH 2020-07-06 21:03:50

In [10]:
name = 'PHUNG THANH AN'
db_functions = 'qt_functions'
df = pd.read_sql("select * from {} f_db inner join \
                 (select max(date_modified) as date_modified from {}) f_db_temp\
                 on f_db_temp.date_modified = f_db.date_modified".format(db_functions, db_functions), engine)
print(df)

         function                                            content      lib  \
0          whatis  def whatis(module):\n    return pydoc.render_d...  lib_sys
1    get_filepath  def get_filepath(filename_extension = 'all'):\...  lib_sys
2  get_folderpath  def get_folderpath():\n    try:\n        path ...  lib_sys
3   get_functions  def get_functions(libname = None):\n    log = ...  lib_sys
4  list_functions  def list_functions():\n    all_functions = []\...  lib_sys
5  push_functions  def push_functions():\n    log = ''\n    list_...  lib_sys
6    push_sysfile  def push_sysfile(sysfile = None):\n    log = '...  lib_sys
7     get_sysfile  def get_sysfile():\n    log = ''\n    df = pd....  lib_sys
8   check_version  def check_version():\n    log = ''\n    df = p...  lib_sys

             name       date_modified       date_modified
0  PHUNG THANH AN 2020-06-23 07:52:47 2020-06-23 07:52:47
1  PHUNG THANH AN 2020-06-23 07:52:47 2020-06-23 07:52:47
2  PHUNG THANH AN 2020-06-23 07:52:47 2020-06-23 07:52:47
3  PHUNG THANH AN 2020-06-23 07:52:47 2020-06-23 07:52:47
4  PHUNG THANH AN 2020-06-23 07:52:47 2020-06-23 07:52:47
5  PHUNG THANH AN 2020-06-23 07:52:47 2020-06-23 07:52:47
6  PHUNG THANH AN 2020-06-23 07:52:47 2020-06-23 07:52:47
7  PHUNG THANH AN 2020-06-23 07:52:47 2020-06-23 07:52:47
8  PHUNG THANH AN 2020-06-23 07:52:47 2020-06-23 07:52:47

In [7]:
engine.execute("SELECT * FROM TAB").fetchall()

[('BIN$p+4VSNtrSlLgUwIAEaxs4g==$0', 'TABLE', None),
 ('BIN$p+XNjhq1CtrgUwIAEaw3Fw==$0', 'TABLE', None),
 ('BIN$p2Ks1rqxA1/gUwIAEaycCQ==$0', 'TABLE', None),
 ('BIN$p9BB7WJvSQDgUwIAEayaZQ==$0', 'TABLE', None),
 ('BIN$p9BB7WJwSQDgUwIAEayaZQ==$0', 'TABLE', None),
 ('BIN$pYgWnkS0Co3gUwIAEaxGZg==$0', 'TABLE', None),
 ('BIN$pYgWnkSzCo3gUwIAEaxGZg==$0', 'TABLE', None),
 ('BIN$pe0COpScfbjgUwIAEazY5A==$0', 'TABLE', None),
 ('BIN$pgI0RqvEJEvgUwIAEaxn7w==$0', 'TABLE', None),
 ('BIN$pgI0RqvFJEvgUwIAEaxn7w==$0', 'TABLE', None),
 ('BIN$pgKmV/nPJ47gUwIAEaxHXQ==$0', 'TABLE', None),
 ('BIN$pgKmV/nQJ47gUwIAEaxHXQ==$0', 'TABLE', None),
 ('BIN$pgKmV/nRJ47gUwIAEaxHXQ==$0', 'TABLE', None),
 ('BIN$pgKmV/nSJ47gUwIAEaxHXQ==$0', 'TABLE', None),
 ('BIN$pgKmV/nTJ47gUwIAEaxHXQ==$0', 'TABLE', None),
 ('BIN$phFzRciGG83gUwIAEaxOkQ==$0', 'TABLE', None),
 ('BIN$phj3EJskVYvgUwIAEaxoIQ==$0', 'TABLE', None),
 ('BIN$phj3EJslVYvgUwIAEaxoIQ==$0', 'TABLE', None),
 ('BIN$pt5mvw1db+fgUwIAEaxpAw==$0', 'TABLE', None),
 ('BIN$pxZHBy1iLW3gUwIAEawQiA==$0', 'TABLE', None),
 ('BIN$pxZHBy1mLW3gUwIAEawQiA==$0', 'TABLE', None),
 ('BIN$pxZHBy1oLW3gUwIAEawQiA==$0', 'TABLE', None),
 ('BIN$pxZHBy1pLW3gUwIAEawQiA==$0', 'TABLE', None),
 ('BIN$qFMiR1sJaBbgUwIAEaxaKA==$0', 'TABLE', None),
 ('BIN$qK4SqmGdPgHgUwIAEaxUiA==$0', 'TABLE', None),
 ('BIN$qK4bWufRPkXgUwIAEawW4g==$0', 'TABLE', None),
 ('BIN$qK4bWufTPkXgUwIAEawW4g==$0', 'TABLE', None),
 ('BIN$qK4kfgXjPpjgUwIAEayYWw==$0', 'TABLE', None),
 ('BIN$qK4kfgXlPpjgUwIAEayYWw==$0', 'TABLE', None),
 ('BIN$qKPVL0cVbYfgUwIAEayucQ==$0', 'TABLE', None),
 ('BIN$qKPVL0cXbYfgUwIAEayucQ==$0', 'TABLE', None),
 ('BIN$qKPbf+1hbazgUwIAEazl1A==$0', 'TABLE', None),
 ('BIN$qKPbf+1jbazgUwIAEazl1A==$0', 'TABLE', None),
 ('BIN$qKQ8U/22ZuDgUwIAEayslA==$0', 'TABLE', None),
 ('BIN$qKQ8U/23ZuDgUwIAEayslA==$0', 'TABLE', None),
 ('BIN$qKStXyJUdCzgUwIAEazPUg==$0', 'TABLE', None),
 ('BIN$qKStXyJWdCzgUwIAEazPUg==$0', 'TABLE', None),
 ('BIN$qKjwEfl+FnngUwIAEawmHQ==$0', 'TABLE', None),
 ('BIN$qKjwEfmAFnngUwIAEawmHQ==$0', 'TABLE', None),
 ('BIN$qKkGsf0IFx/gUwIAEaw0Iw==$0', 'TABLE', None),
 ('BIN$qKkGsf0KFx/gUwIAEaw0Iw==$0', 'TABLE', None),
 ('BIN$qKn1rd2FHlXgUwIAEawPkQ==$0', 'TABLE', None),
 ('BIN$qL0LRaTkNKvgUwIAEazFIw==$0', 'TABLE', None),
 ('BIN$qL0LRaTmNKvgUwIAEazFIw==$0', 'TABLE', None),
 ('BIN$qL0OSdYvNK/gUwIAEazEBw==$0', 'TABLE', None),
 ('BIN$qL0OSdYxNK/gUwIAEazEBw==$0', 'TABLE', None),
 ('BIN$qL0WKXfpNQTgUwIAEay6lg==$0', 'TABLE', None),
 ('BIN$qL0WKXfrNQTgUwIAEay6lg==$0', 'TABLE', None),
 ('BIN$qL0ZUFMoNQjgUwIAEaxm1A==$0', 'TABLE', None),
 ('BIN$qL0ZUFMqNQjgUwIAEaxm1A==$0', 'TABLE', None),
 ('BIN$qL0ZUFMsNQjgUwIAEaxm1A==$0', 'TABLE', None),
 ('BIN$qL0ZUFMuNQjgUwIAEaxm1A==$0', 'TABLE', None),
 ('BIN$qL0oCfHeNXjgUwIAEayQrg==$0', 'TABLE', None),
 ('BIN$qL0oCfHgNXjgUwIAEayQrg==$0', 'TABLE', None),
 ('BIN$qL0tU9+pNbrgUwIAEaz+LA==$0', 'TABLE', None),
 ('BIN$qL0tU9+rNbrgUwIAEaz+LA==$0', 'TABLE', None),
 ('BIN$qL1n7KwGN4jgUwIAEawfTw==$0', 'TABLE', None),
 ('BIN$qL1n7KwIN4jgUwIAEawfTw==$0', 'TABLE', None),
 ('BIN$qL1vjZAFN8TgUwIAEazQnA==$0', 'TABLE', None),
 ('BIN$qL1vjZAHN8TgUwIAEazQnA==$0', 'TABLE', None),
 ('BIN$qL2Bkdb2OGDgUwIAEawxDw==$0', 'TABLE', None),
 ('BIN$qL2Bkdb4OGDgUwIAEawxDw==$0', 'TABLE', None),
 ('BIN$qL2Jj4IhOLPgUwIAEawzCQ==$0', 'TABLE', None),
 ('BIN$qL2Jj4IjOLPgUwIAEawzCQ==$0', 'TABLE', None),
 ('BIN$qL2YlOxLOSngUwIAEawI8w==$0', 'TABLE', None),
 ('BIN$qL2YlOxMOSngUwIAEawI8w==$0', 'TABLE', None),
 ('BIN$qL2nSiFpOZ/gUwIAEaywyA==$0', 'TABLE', None),
 ('BIN$qL2nSiFqOZ/gUwIAEaywyA==$0', 'TABLE', None),
 ('BIN$qL2rLn8LOcDgUwIAEaw8dQ==$0', 'TABLE', None),
 ('BIN$qL2rLn8MOcDgUwIAEaw8dQ==$0', 'TABLE', None),
 ('BIN$qL3Ca9zAOmrgUwIAEaxN4Q==$0', 'TABLE', None),
 ('BIN$qL3Ca9zBOmrgUwIAEaxN4Q==$0', 'TABLE', None),
 ('BIN$qL3KWAbNOsXgUwIAEawDsA==$0', 'TABLE', None),
 ('BIN$qL3KWAbOOsXgUwIAEawDsA==$0', 'TABLE', None),
 ('BIN$qLx2OAdcL/3gUwIAEaywOQ==$0', 'TABLE', None),
 ('BIN$qLx2OAdeL/3gUwIAEaywOQ==$0', 'TABLE', None),
 ('BIN$qLx5/PeTMBrgUwIAEazJLw==$0', 'TABLE', None),
 ('BIN$qLx5/PeVMBrgUwIAEazJLw==$0', 'TABLE', None),
 ('BIN$qLxdi0c5Lz7gUwIAEawU+Q==$0', 'TABLE', None),
 ('BIN$qLxdi0c7Lz7gUwIAEawU+Q==$0', 'TABLE', None),
 ('BIN$qLyKZFKuMKXgUwIAEaz7Bg==$0', 'TABLE', None),
 ('BIN$qLyKZFKwMKXgUwIAEaz7Bg==$0', 'TABLE', None),
 ('BIN$qLyoDkD+MYXgUwIAEayL4w==$0', 'TABLE', None),
 ('BIN$qLyoDkD8MYXgUwIAEayL4w==$0', 'TABLE', None),
 ('BIN$qLzOKRlHMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRlJMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRlLMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRlNMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRlPMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRlRMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRlTMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRlVMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRlXMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRlZMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRlbMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzOKRldMr3gUwIAEax29A==$0', 'TABLE', None),
 ('BIN$qLzc3i14My/gUwIAEawgww==$0', 'TABLE', None),
 ('BIN$qLzc3i16My/gUwIAEawgww==$0', 'TABLE', None),
 ('BIN$qLzlnomOM2ngUwIAEaz/KA==$0', 'TABLE', None),
 ('BIN$qLzlnomQM2ngUwIAEaz/KA==$0', 'TABLE', None),
 ('BIN$qgQurcwbC6PgUwIAEayyVQ==$0', 'TABLE', None),
 ('BIN$qgQurcwhC6PgUwIAEayyVQ==$0', 'TABLE', None),
 ('BIN$qgQurcwiC6PgUwIAEayyVQ==$0', 'TABLE', None),
 ('BIN$qgQurcwjC6PgUwIAEayyVQ==$0', 'TABLE', None),
 ('BIN$qifk5rwDJy/gUwIAEayT5Q==$0', 'TABLE', None),
 ('BIN$qifk5rwEJy/gUwIAEayT5Q==$0', 'TABLE', None),
 ('BIN$qifk5rwFJy/gUwIAEayT5Q==$0', 'TABLE', None),
 ('BIN$qiiL7CL0KwrgUwIAEawoXw==$0', 'TABLE', None),
 ('BIN$qiiL7CL1KwrgUwIAEawoXw==$0', 'TABLE', None),
 ('BIN$qiiL7CL2KwrgUwIAEawoXw==$0', 'TABLE', None),
 ('BIN$qiiL7CL3KwrgUwIAEawoXw==$0', 'TABLE', None),
 ('BIN$qjaZmR16FkngUwIAEaxfpQ==$0', 'TABLE', None),
 ('BIN$qkCQ7V/jYl3gUwIAEayF/w==$0', 'TABLE', None),
 ('BIN$qlP3btvBf63gUwIAEaz6hw==$0', 'TABLE', None),
 ('BIN$qmYjgJdiFNTgUwIAEaz/JA==$0', 'TABLE', None),
 ('BIN$qmYjgJdnFNTgUwIAEaz/JA==$0', 'TABLE', None),
 ('BIN$qmbzhn+dGbXgUwIAEawcBQ==$0', 'TABLE', None),
 ('BIN$qmbzhn+fGbXgUwIAEawcBQ==$0', 'TABLE', None),
 ('BIN$qnufyxV/IlPgUwIAEawwug==$0', 'TABLE', None),
 ('BIN$qnufyxWAIlPgUwIAEawwug==$0', 'TABLE', None),
 ('J_PURCHASEORDER', 'TABLE', None),
 ('LINKEDIN_DB', 'TABLE', None),
 ('QT_FUNCTIONS', 'TABLE', None),
 ('QT_MEMBERINFO', 'TABLE', None),
 ('QT_PRODUCT_EXPANSION_PLAN', 'TABLE', None),
 ('QT_RECRUITMENT_GROUP', 'TABLE', None),
 ('QT_RECRUITMENT_HR2', 'TABLE', None),
 ('QT_RECRUITMENT_LONGHAI', 'TABLE', None),
 ('QT_SCHEDULE_INTERVIEW', 'TABLE', None),
 ('QT_TEMPOMONITOR', 'TABLE', None),
 ('QT_TEMPONOTE', 'TABLE', None),
 ('QT_TRAINNING', 'TABLE', None),
 ('QT_TRAINNING_RATE', 'TABLE', None),
 ('QT_TRAINNING_RATE_NEW', 'TABLE', None),
 ('QT_TRANSPORT', 'TABLE', None),
 ('QT_WEEKLYREPORT', 'TABLE', None),
 ('QT_WORKINGTIME', 'TABLE', None),
 ('USERS', 'TABLE', None)]

In [8]:
db_functions = 'qt_functions'
function_name = 'add_remove_skype_members'
df = engine.execute("delete from {} where FUNCTION like '{}' and LIB like 'lib_custom'".format(db_functions, function_name))

In [20]:
# today = today.strftime('%Y-%m-%d')
# today = datetime.date(today)
today = date(2020, 6, 7)
next_monday = today + timedelta(days=-today.weekday(),weeks=1)
df_workingtime_lock = pd.DataFrame()
df_workingtime_unlock = pd.DataFrame()
print(next_monday)
for rows in df:
    dt = datetime.date(rows[0])
    df_temp = pd.DataFrame()
    df_temp['DATETIME'] = [rows['datetime']]
    df_temp['NAME'] = [rows['name']]
    df_temp['FROM1'] = [rows['from1']]
    df_temp['TO1'] = [rows['to1']]
    df_temp['FROM2'] = [rows['from2']]
    df_temp['TO2'] = [rows['to2']]
    df_temp['FROM3'] = [rows['from3']]
    df_temp['TO3'] = [rows['to3']]
    df_temp['FROM4'] = [rows['from4']]
    df_temp['TO4'] = [rows['to4']]
    df_temp['ISSUE'] = [rows['issue']]
    df_temp['REASON'] = [rows['reason']]
    df_temp['HR_NOTE'] = [rows['hr_note']]
    df_temp['REGULAR_HOUR'] = [rows['regular_hour']]
    df_temp['REWARD_PUNISHMENT'] = [rows['reward_punishment']]
    df_temp['ACTUAL_HOUR'] = [rows['actual_hour']]
    if dt <= next_monday:
        df_workingtime_lock = pd.concat([df_workingtime_lock, df_temp])
    else:
        df_workingtime_unlock = pd.concat([df_workingtime_unlock, df_temp])
print(df_workingtime_lock)
print(df_workingtime_unlock)

2020-06-08
    DATETIME             NAME FROM1   TO1 FROM2   TO2 FROM3   TO3 FROM4   TO4  \
0 2020-06-01  TRAN TRUNG MINH  None  None    13    17    20    22  None  None
0 2020-06-02  TRAN TRUNG MINH  None  None    13    17    20    22  None  None
0 2020-06-03  TRAN TRUNG MINH  None  None    13    17    20    22  None  None
0 2020-06-04  TRAN TRUNG MINH  None  None    13    17    20    22  None  None
0 2020-06-05  TRAN TRUNG MINH  None  None    13    17    20    22  None  None
0 2020-06-06  TRAN TRUNG MINH  None  None  None  None  21.5    22  None  None
0 2020-06-07  TRAN TRUNG MINH  None  None  None  None  None  None  None  None
0 2020-06-08  TRAN TRUNG MINH  None  None    13    17    20    22  None  None

  ISSUE REASON HR_NOTE  REGULAR_HOUR REWARD_PUNISHMENT  ACTUAL_HOUR
0   nan    nan     nan           6.0              None          6.0
0   nan    nan     nan           6.0              None          6.0
0   nan    nan     nan           6.0              None          6.0
0   nan    nan     nan           6.0              None          6.0
0   nan    nan     nan           6.0              None          6.0
0   nan    nan     nan           0.5              None          0.5
0   nan    nan     nan           0.0              None          0.0
0   nan    nan     nan           6.0              None          6.0
    DATETIME             NAME FROM1   TO1 FROM2   TO2 FROM3   TO3 FROM4   TO4  \
0 2020-06-09  TRAN TRUNG MINH  None  None    13    17    20    22  None  None
0 2020-06-10  TRAN TRUNG MINH  None  None    13    17    20    22  None  None
0 2020-06-11  TRAN TRUNG MINH  None  None    13    17    20    22  None  None
0 2020-06-12  TRAN TRUNG MINH  None  None    13    17    20    22  None  None
0 2020-06-13  TRAN TRUNG MINH  None  None  None  None  21.5    22  None  None
0 2020-06-14  TRAN TRUNG MINH  None  None  None  None  None  None  None  None

  ISSUE REASON HR_NOTE  REGULAR_HOUR REWARD_PUNISHMENT  ACTUAL_HOUR
0   nan    nan     nan           6.0              None          6.0
0   nan    nan     nan           6.0              None          6.0
0   nan    nan     nan           6.0              None          6.0
0   nan    nan     nan           6.0              None          6.0
0   nan    nan     nan           0.5              None          0.5
0   nan    nan     nan           0.0              None          0.0

In [11]:
import datetime, timedelta, date
today = datetime.now()
today = datetime.date(today)
next_monday = today + datetime.timedelta(days=-today.weekday(),weeks=1)
print(next_monday)

AttributeError: type object 'datetime.datetime' has no attribute 'timedelta'

In [14]:
from datetime import datetime, timedelta, date
unlock_date = [4,5,6] # Fr,Sa,Su
today = datetime.now()
next_monday = today + timedelta(days=-today.weekday(),weeks=1)
print(today)
print(next_monday)
if today < next_monday:
    #open permission to edit working time
    print('1')
else:
    #close permission to edit working time
    print('2')

2020-06-12 11:22:36.857612
2020-06-15 11:22:36.857612
1

In [37]:
df = pd.read_sql("select * from QT_WORKINGTIME where NAME like 'TRAN TRUNG MINH'", con)
df.columns = [x.upper() for x in df.columns]
df[:]
for df in 
print(df['DATETIME'])

SyntaxError: invalid syntax (<ipython-input-37-9d588472b4d6>, line 4)

In [26]:
text_file = open('code_demo.txt',  encoding="utf8")
lines = text_file.readlines()
print(lines)
source_code = '\n'
for line in lines:
    source_code += line
source_code += '\n'
test = 'abc'
print(type(test))
print(type(source_code))
df_test = pd.DataFrame()
df_test['name'] = ['check_permission']
df_test['code_content'] = [source_code]
df_test.to_sql('qt_code_demo', engine, if_exists='replace', index = False)
text_file.close()

['from datetime import datetime, timedelta, date\n', 'today = date.today()\n', 'def check_permission():\n', '\tunlock_date = [4,5,6] # Fr,Sa,Su\n', '\tif today.weekday() in unlock_date:\n', '\t\t#open permission\n', "\t\tprint('open permission')\n", '\t\treturn True\n', '\telse:\n', '\t\t#close permission\n', "\t\tprint('close permission')\n", '\t\treturn False']
<class 'str'>
<class 'str'>

In [35]:
df = pd.read_sql("SELECT * FROM qt_code_demo", engine)
for rows in df.iterrows():
    print(rows)
print(df['code_content'])
df_temp = df['code_content'].astype(str)
print(type(df_temp))
print(df_temp)
df_temp.to_csv(r'testfile.txt', header=None, index=None)

(0, name                                             check_permission
code_content    \nfrom datetime import datetime, timedelta, da...
Name: 0, dtype: object)
0    \nfrom datetime import datetime, timedelta, da...
Name: code_content, dtype: object
<class 'pandas.core.series.Series'>
0    \nfrom datetime import datetime, timedelta, da...
Name: code_content, dtype: object

In [36]:
new_file = open("testfile.txt", "r+")
lines = new_file.readlines()

for line in lines:
    print(line)
    if line.strip(''):
        print(line)
        new_file.write(line)
new_file.close()

"

"

from datetime import datetime, timedelta, date

from datetime import datetime, timedelta, date

today = date.today()

today = date.today()

def check_permission():

def check_permission():

	unlock_date = [4,5,6] # Fr,Sa,Su

	unlock_date = [4,5,6] # Fr,Sa,Su

	if today.weekday() in unlock_date:

	if today.weekday() in unlock_date:

		#open permission

		#open permission

		print('open permission')

		print('open permission')

		return True

		return True

	else:

	else:

		#close permission

		#close permission

		print('close permission')

		print('close permission')

		return False

		return False

"

"

In [29]:
import pandas as pd
df = pd.read_fwf('code_demo.txt', encoding="utf8")
df[:]

   from datetime import datetime, timedelta,  date
0                       today = date.today()   NaN
1                    def check_permission():   NaN
2                                        NaN   NaN
3           unlock_date = [4,5,6] # Fr,Sa,Su   NaN
4         if today.weekday() in unlock_date:   NaN
5                           #open permission   NaN
6                   print('open permission')   NaN
7                                return True   NaN
8                                      else:   NaN
9                          #close permission   NaN
10                 print('close permission')   NaN
11                              return False   NaN