In [1]:
import glob
import os
import pandas as pd
import json
import datetime
from sqlalchemy.engine import create_engine
import gzip
import numpy as np
DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'LINKEDIN' #enter your username
PASSWORD = "qtdatA2020" #enter your password
HOST = '118.69.32.128' #enter the oracle db host url
PORT = 1521 #enter the oracle port number
SERVICE = 'ORCLCDB' #enter the oracle db service name
ENGINE_PATH_WIN_AUTH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + \
                       ':' + str(PORT) + '/'+ SERVICE + '?encoding=UTF-8&nencoding=UTF-8'
print(ENGINE_PATH_WIN_AUTH)
engine = create_engine(ENGINE_PATH_WIN_AUTH, max_identifier_length = 128)
con = engine.connect()
print('Connecting to BIG server')

oracle+cx_oracle://LINKEDIN:qtdatA2020@118.69.32.128:1521/ORCLCDB?encoding=UTF-8&nencoding=UTF-8
Connecting to BIG server

In [9]:
#Server Info
DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'DEV' #enter your username
PASSWORD = 'qtdatA2020' #enter your password
HOST = '14.161.28.178' #enter the oracle db host url
PORT = 1521 #enter the oracle port number
SERVICE = 'XE' #enter the oracle db service name
engine_str = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + \
                       ':' + str(PORT) + '/' + SERVICE + '?encoding=UTF-8&nencoding=UTF-8'
print(engine_str)
jvn_engine = create_engine(engine_str, max_identifier_length = 128)
print('Connecting to JVN server.')

oracle+cx_oracle://DEV:qtdatA2020@14.161.28.178:1521/XE?encoding=UTF-8&nencoding=UTF-8
Connecting to JVN server.

In [3]:
engine.execute("SELECT count(*) FROM LINKEDIN_DB").fetchall()

[(2948,)]

In [3]:
engine.execute("SELECT * FROM qt_weeklyreport").fetchall()

[(30, 'NATHAN', 'task 1', 'outcome 1', '1. tìm hiểu một số function hrms', None, datetime.datetime(2020, 7, 23, 16, 8, 51)),
 (30, 'NATHAN', 'task 2', 'outcome 2', None, None, datetime.datetime(2020, 7, 23, 16, 8, 51)),
 (25, 'Nam', 'task 1', 'outcome 1', '1. Database to QT_MEMBERINFO -> Quyen\n2. WorkingTime to QT_WORKINGTIME -> An\n3. TempoNote to QT_TEMPOMONITOR -> Minh, Sĩ\n4. newmember task\n5. review task team tech.\n6. Online business\n7. review tools', 'action 1\naction 2\naction 3', datetime.datetime(2020, 6, 18, 8, 22, 36)),
 (25, 'Nam', 'task 2', 'outcome 2', '1. Test', 'Test', datetime.datetime(2020, 6, 18, 8, 22, 36)),
 (25, 'Nam', 'task3', 'outcome 3', '1. get Nam', 'import data', datetime.datetime(2020, 6, 18, 8, 22, 36)),
 (25, 'HENRY DUONG', 'task 2', 'outcome 2', '1. Test', 'Test', datetime.datetime(2020, 6, 17, 16, 6, 27)),
 (24, 'TRAN TRUNG MINH', 'task 1', 'outcome 1', '1. Database to QT_MEMBERINFO -> Quyen\n2. WorkingTime to QT_WORKINGTIME -> An\n3. TempoNote to QT_TEMPOMONITOR -> Minh, Sĩ\n4. newmember task\n5. review task team tech.\n6. Online business\n7. review tools', 'action 1\naction 2\naction 3', datetime.datetime(2020, 6, 13, 23, 41, 56)),
 (24, 'TRAN TRUNG MINH', 'task 2', 'outcome 2', None, None, datetime.datetime(2020, 6, 13, 23, 41, 56)),
 (25, 'HENRY DUONG', 'task 1', 'outcome 1', '1. Database to QT_MEMBERINFO -> Quyen\n2. WorkingTime to QT_WORKINGTIME -> An\n3. TempoNote to QT_TEMPOMONITOR -> Minh, Sĩ\n4. newmember task\n5. review task team tech.\n6. Online business\n7. review tools', 'action 1\naction 2\naction 3', datetime.datetime(2020, 6, 17, 16, 6, 27)),
 (30, 'Yamar (Tinh)', 'task 1', 'outcome 1', '1. Database to QT_MEMBERINFO -> Quyen\n2. WorkingTime to QT_WORKINGTIME -> An\n3. TempoNote to QT_TEMPOMONITOR -> Minh, Sĩ\n4. newmember task\n5. review task team tech.\n6. Online business\n7. review tools', 'action 1\naction 2\naction 3', datetime.datetime(2020, 7, 22, 8, 3, 7)),
 (30, 'Yamar (Tinh)', 'task 2', 'outcome 2', None, None, datetime.datetime(2020, 7, 22, 8, 3, 7))]

In [5]:
engine.execute("SELECT * FROM all_users").fetchall()

[('SYS', 0, datetime.datetime(2017, 1, 26, 13, 53, 25), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('AUDSYS', 8, datetime.datetime(2017, 1, 26, 13, 53, 26), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYSTEM', 9, datetime.datetime(2017, 1, 26, 13, 53, 26), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYSBACKUP', 2147483617, datetime.datetime(2017, 1, 26, 13, 53, 27), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYSDG', 2147483618, datetime.datetime(2017, 1, 26, 13, 53, 27), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYSKM', 2147483619, datetime.datetime(2017, 1, 26, 13, 53, 27), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYSRAC', 2147483620, datetime.datetime(2017, 1, 26, 13, 53, 27), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('OUTLN', 13, datetime.datetime(2017, 1, 26, 13, 53, 40), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('XS$NULL', 2147483638, datetime.datetime(2017, 1, 26, 14, 7, 19), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('GSMADMIN_INTERNAL', 21, datetime.datetime(2017, 1, 26, 14, 4, 59), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('GSMUSER', 22, datetime.datetime(2017, 1, 26, 14, 5, 1), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DIP', 23, datetime.datetime(2017, 1, 26, 14, 5, 46), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('REMOTE_SCHEDULER_AGENT', 34, datetime.datetime(2017, 1, 26, 14, 7, 51), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DBSFWUSER', 35, datetime.datetime(2017, 1, 26, 14, 7, 52), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('ORACLE_OCM', 39, datetime.datetime(2017, 1, 26, 14, 9, 34), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYS$UMF', 46, datetime.datetime(2017, 1, 26, 14, 16, 23), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DBSNMP', 54, datetime.datetime(2017, 1, 26, 14, 23, 26), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('APPQOSSYS', 55, datetime.datetime(2017, 1, 26, 14, 23, 28), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('GSMCATUSER', 59, datetime.datetime(2017, 1, 26, 14, 24, 27), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('GGSYS', 60, datetime.datetime(2017, 1, 26, 14, 24, 33), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('XDB', 62, datetime.datetime(2017, 1, 26, 14, 27, 18), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('ANONYMOUS', 63, datetime.datetime(2017, 1, 26, 14, 27, 18), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('WMSYS', 72, datetime.datetime(2017, 1, 26, 14, 48, 37), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('OJVMSYS', 81, datetime.datetime(2017, 1, 26, 14, 51, 7), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('CTXSYS', 84, datetime.datetime(2017, 1, 26, 14, 56, 15), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('ORDSYS', 86, datetime.datetime(2017, 1, 26, 14, 57, 46), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('ORDDATA', 87, datetime.datetime(2017, 1, 26, 14, 57, 47), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('ORDPLUGINS', 88, datetime.datetime(2017, 1, 26, 14, 57, 47), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SI_INFORMTN_SCHEMA', 89, datetime.datetime(2017, 1, 26, 14, 57, 47), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('MDSYS', 90, datetime.datetime(2017, 1, 26, 14, 57, 47), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('OLAPSYS', 93, datetime.datetime(2017, 1, 26, 15, 12, 32), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('MDDATA', 96, datetime.datetime(2017, 1, 26, 15, 13, 5), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SPATIAL_CSW_ADMIN_USR', 98, datetime.datetime(2017, 1, 26, 15, 15, 55), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DVSYS', 1279990, datetime.datetime(2017, 1, 26, 15, 26, 8), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('LBACSYS', 101, datetime.datetime(2017, 1, 26, 15, 25, 43), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DVF', 103, datetime.datetime(2017, 1, 26, 15, 26, 8), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('FLOWS_FILES', 106, datetime.datetime(2017, 3, 2, 8, 10, 4), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('APEX_PUBLIC_USER', 107, datetime.datetime(2017, 3, 2, 8, 10, 4), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('APEX_050000', 108, datetime.datetime(2017, 3, 2, 8, 10, 4), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('QTDATA_DEV', 111, datetime.datetime(2020, 8, 8, 13, 11, 32), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DEV', 112, datetime.datetime(2020, 8, 8, 13, 12, 32), 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO')]

In [3]:
jvn_engine.execute("SELECT * FROM dba_users").fetchall()

[('SYS', 0, None, 'OPEN', None, datetime.datetime(2021, 2, 4, 13, 55, 1), 'SYSTEM', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 13, 53, 25), 'DEFAULT', 'SYS_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYSTEM', 9, None, 'OPEN', None, datetime.datetime(2021, 2, 4, 13, 57, 33), 'SYSTEM', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 13, 53, 26), 'DEFAULT', 'SYS_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', datetime.datetime(2020, 8, 8, 20, 56, 48), 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('XS$NULL', 2147483638, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 7, 19), datetime.datetime(2017, 1, 26, 14, 7, 19), 'SYSTEM', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 7, 19), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, None, 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('OJVMSYS', 81, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 51, 7), datetime.datetime(2017, 1, 26, 14, 51, 7), 'SYSTEM', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 51, 7), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('LBACSYS', 101, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 15, 27, 28), datetime.datetime(2017, 1, 26, 15, 27, 28), 'SYSTEM', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 15, 25, 43), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('OUTLN', 13, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 13, 53, 40), datetime.datetime(2017, 1, 26, 13, 53, 40), 'SYSTEM', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 13, 53, 40), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYS$UMF', 46, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 16, 23), datetime.datetime(2017, 1, 26, 14, 16, 23), 'SYSTEM', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 16, 23), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DBSNMP', 54, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 23, 26), datetime.datetime(2017, 1, 26, 14, 23, 26), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 23, 26), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('APPQOSSYS', 55, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 23, 28), datetime.datetime(2017, 1, 26, 14, 23, 28), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 23, 28), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DBSFWUSER', 35, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 7, 52), datetime.datetime(2017, 1, 26, 14, 7, 52), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 7, 52), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('GGSYS', 60, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 24, 33), datetime.datetime(2017, 1, 26, 14, 24, 33), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 24, 33), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('ANONYMOUS', 63, None, 'EXPIRED', None, datetime.datetime(2017, 1, 26, 15, 27, 28), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 27, 18), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, None, 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('CTXSYS', 84, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 57, 34), datetime.datetime(2017, 1, 26, 14, 57, 34), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 56, 15), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SI_INFORMTN_SCHEMA', 89, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 57, 47), datetime.datetime(2017, 1, 26, 14, 57, 47), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 57, 47), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DVSYS', 1279990, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 15, 26, 39), datetime.datetime(2017, 1, 26, 15, 26, 39), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 15, 26, 8), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, None, 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DVF', 103, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 15, 27, 28), datetime.datetime(2017, 1, 26, 15, 27, 28), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 15, 26, 8), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, None, 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('GSMADMIN_INTERNAL', 21, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 4, 59), datetime.datetime(2017, 1, 26, 14, 4, 59), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 4, 59), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('ORDPLUGINS', 88, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 57, 47), datetime.datetime(2017, 1, 26, 14, 57, 47), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 57, 47), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('MDSYS', 90, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 57, 47), datetime.datetime(2017, 1, 26, 14, 57, 47), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 57, 47), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('OLAPSYS', 93, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 15, 12, 32), datetime.datetime(2017, 1, 26, 15, 12, 32), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 15, 12, 32), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('ORDDATA', 87, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 57, 47), datetime.datetime(2017, 1, 26, 14, 57, 47), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 57, 47), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('XDB', 62, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 27, 18), datetime.datetime(2017, 1, 26, 14, 27, 18), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 27, 18), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('WMSYS', 72, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 48, 37), datetime.datetime(2017, 1, 26, 14, 48, 37), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 48, 37), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('ORDSYS', 86, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 57, 46), datetime.datetime(2017, 1, 26, 14, 57, 46), 'SYSAUX', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 57, 46), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('GSMCATUSER', 59, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 24, 27), datetime.datetime(2017, 1, 26, 14, 24, 27), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 24, 27), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('MDDATA', 96, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 15, 27, 28), datetime.datetime(2017, 1, 26, 15, 27, 28), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 15, 13, 5), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYSBACKUP', 2147483617, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 13, 53, 27), datetime.datetime(2017, 1, 26, 13, 53, 27), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 13, 53, 27), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('REMOTE_SCHEDULER_AGENT', 34, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 7, 51), datetime.datetime(2017, 1, 26, 14, 7, 51), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 7, 51), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, None, 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('GSMUSER', 22, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 5, 1), datetime.datetime(2017, 1, 26, 14, 5, 1), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 5, 1), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYSRAC', 2147483620, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 13, 53, 27), datetime.datetime(2017, 1, 26, 13, 53, 27), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 13, 53, 27), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('AUDSYS', 8, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 13, 53, 26), datetime.datetime(2017, 1, 26, 13, 53, 26), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 13, 53, 26), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DIP', 23, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 5, 46), datetime.datetime(2017, 1, 26, 14, 5, 46), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 5, 46), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('DEV', 108, None, 'OPEN', None, datetime.datetime(2021, 2, 4, 13, 57, 52), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2020, 8, 3, 12, 45, 35), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'NO', datetime.datetime(2020, 8, 12, 20, 55, 49), 'N', 'NO', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYSKM', 2147483619, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 13, 53, 27), datetime.datetime(2017, 1, 26, 13, 53, 27), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 13, 53, 27), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('ORACLE_OCM', 39, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 14, 9, 34), datetime.datetime(2017, 1, 26, 14, 9, 34), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 14, 9, 34), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SYSDG', 2147483618, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 13, 53, 27), datetime.datetime(2017, 1, 26, 13, 53, 27), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 13, 53, 27), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO'),
 ('SPATIAL_CSW_ADMIN_USR', 98, None, 'EXPIRED & LOCKED', datetime.datetime(2017, 1, 26, 15, 15, 55), datetime.datetime(2017, 1, 26, 15, 15, 55), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2017, 1, 26, 15, 15, 55), 'DEFAULT', 'DEFAULT_CONSUMER_GROUP', None, '11G 12C ', 'N', 'PASSWORD', 'N', 'YES', None, 'Y', 'YES', 'USING_NLS_COMP', 'NO', 'NO')]

In [4]:
engine.execute("SELECT * FROM user_users").fetchall()

[('DEV', 112, 'OPEN', None, datetime.datetime(2021, 2, 4, 13, 12, 32), 'USERS', 'TEMP', 'TEMP', datetime.datetime(2020, 8, 8, 13, 12, 32), 'DEFAULT_CONSUMER_GROUP', None, 'N', 'YES', 'Y', 'NO', 'USING_NLS_COMP', 'NO', 'NO')]

In [7]:
engine.execute("SELECT column_name \
FROM user_tab_cols \
WHERE table_name = 'user_users'").fetchall()

[]

In [5]:
engine.execute("select bytes from user_segments where segment_name like 'LINKEDIN_DB'").fetchall()

[]

In [18]:
engine.execute("select bytes, user_name from user_segments").fetchall()

DatabaseError: (cx_Oracle.DatabaseError) ORA-00904: "USER_NAME": invalid identifier
[SQL: select bytes, user_name from user_segments]
(Background on this error at: http://sqlalche.me/e/4xp6)

In [97]:
engine.execute("DROP TABLE LINKEDIN_DB_DEMO")

In [ ]:
df_report = pd.DataFrame()
df_report['ASIGNER'] = 'TRAN TRUNG MINH'
df_report['ASIGNEE'] = 'PHUNG THANH AN'
df_report['TASK'] = 'task 1 phùng thanh an'
df_report['DATE_MODIFIED'] = datetime.datetime.now()
df_report['DOING_TASK'] = ''
df_report.to_sql('QT_TASKS', engine, if_exists='append', index = False)

In [ ]:
dict_list = []
header_list = []
log = ''
linkedin_df = pd.read_csv('linkedin_data_test.csv')
linkedin_df['status'] = linkedin_df['status'].astype(str)
for index,row in linkedin_df.iterrows():
    filename = row['name']
    if row['status'] != 'done':
        try:
            #import json to dataframe
            start = datetime.datetime.now()
            f = gzip.open('ds_dump_AS_1.jl.gz', 'rt', encoding='utf-8')
            log += 'File name: ' + filename + '\n'
            rawdata = f.readlines()
            header_list += list(json.loads((rawdata[0])).keys())
            f.close()
            for i in rawdata:
                dict_list.append(json.loads(i))
            header_list = list(dict.fromkeys(header_list))
            df = pd.DataFrame(dict_list, columns=header_list)
            
            #format values
            df.columns = [x.upper() for x in df.columns]
            df_report = pd.DataFrame()
            if 'FAMILY_NAME' in df.columns: df_report['FAMILY_NAME'] = df['FAMILY_NAME']
            else: df_report['FAMILY_NAME'] = np.nan
            if 'FULL_NAME' in df.columns: df_report['FULL_NAME'] = df['FULL_NAME']
            else: df_report['FULL_NAME'] = np.nan
            if 'GIVEN_NAME' in df.columns: df_report['GIVEN_NAME'] = df['GIVEN_NAME']
            else: df_report['GIVEN_NAME'] = np.nan
            if 'LOCALITY' in df.columns: df_report['LOCALITY'] = df['LOCALITY']
            else: df_report['LOCALITY'] = np.nan
            if 'URL' in df.columns: df_report['URL'] = df['URL']
            else: df_report['URL'] = np.nan
            if 'EDUCATION' in df.columns: df_report['EDUCATION'] = df['EDUCATION']
            else: df_report['EDUCATION'] = np.nan
            if 'INDUSTRY' in df.columns: df_report['INDUSTRY'] = df['INDUSTRY']
            else: df_report['INDUSTRY'] = np.nan
            if 'LAST_VISITED' in df.columns: df_report['LAST_VISITED'] = df['LAST_VISITED']
            else: df_report['LAST_VISITED'] = np.nan
            if 'NUM_CONNECTIONS' in df.columns: df_report['NUM_CONNECTIONS'] = df['NUM_CONNECTIONS']
            else: df_report['NUM_CONNECTIONS'] = np.nan
            if 'EXPERIENCE' in df.columns: df_report['EXPERIENCE'] = df['EXPERIENCE']
            else: df_report['EXPERIENCE'] = np.nan
            if 'HEADLINE' in df.columns: df_report['HEADLINE'] = df['HEADLINE']
            else: df_report['HEADLINE'] = np.nan
            if 'ALSO_VIEWED' in df.columns: df_report['ALSO_VIEWED'] = df['ALSO_VIEWED']
            else: df_report['ALSO_VIEWED'] = np.nan
            if 'IMAGE_URL' in df.columns: df_report['IMAGE_URL'] = df['IMAGE_URL']
            else: df_report['IMAGE_URL'] = np.nan
            if 'REDIRECT_URL' in df.columns: df_report['REDIRECT_URL'] = df['REDIRECT_URL']
            else: df_report['REDIRECT_URL'] = np.nan
            if 'CANONICAL_URL' in df.columns: df_report['CANONICAL_URL'] = df['CANONICAL_URL']
            else: df_report['CANONICAL_URL'] = np.nan
            if 'UNIQUE_ID' in df.columns: df_report['UNIQUE_ID'] = df['UNIQUE_ID']
            else: df_report['UNIQUE_ID'] = np.nan
            if '_KEY' in df.columns: df_report['KEY'] = df['_KEY']
            else: df_report['KEY'] = np.nan
            df_report = df_report.astype(str)
            df_report['DATE_UPLOADED'] = datetime.datetime.now()
            
            #push data into oracle
            #rows = [tuple(x) for x in df_report[:1].values]
            # engine.executemany('INSERT INTO LINKEDIN_DB (FAMILY_NAME, FULL_NAME, GIVEN_NAME, URL,\
            #                                 EDUCATION, INDUSTRY, LAST_VISITED, NUM_CONNECTIONS,\
            #                                 EXPERIENCE, HEADLINE, ALSO_VIEWED, "IMAGE_URL",\
            #                                 REDIRECT_URL, CANONICAL_URL, UNIQUE_ID, KEY, DATE_UPLOADED)\
            #                                 VALUES (:1,:2,:3,:4,:5,:6,:7,:8,:9,:10,:11,:12,:13,:14,:15,:16,:17)',rows)
            
            # conn.commit()
            df_report_len = len(df_report)
            old_index = 0
            new_index = 0
            while True:
                if df_report_len > 10000:
                    new_index += 10000
                    df_report_len -= 10000
                    df_report[old_index:new_index].to_sql('LINKEDIN_DB', engine, if_exists='append', index = False)
                    old_index = new_index
                else:
                    df_report[old_index:].to_sql('LINKEDIN_DB', engine, if_exists='append', index = False)
                    break
            #df_report[0:10000].to_sql('LINKEDIN_DB', engine, if_exists='append', index = False)
            finish = datetime.datetime.now()
            log += 'Upload successfully\n'
            log += 'Upload time: ' + str(finish) + str((finish - start).total_seconds()) + '\n'
            with open("log.txt", "a") as logfile:
                logfile.write(log)
                logfile.close()
            with open("log_backup.txt", "a") as logfile:
                logfile.write(log)
                logfile.close()
            #linkedin_df.at[index,'status'] = 'done'
            #linkedin_df.to_csv('linkedin_data.csv', index=False)
            # reset
            dict_list = []
            header_list = []
            log = ''
        except Exception as e:
            print(e)
            log += 'Upload failed: ' + filename + '\n'
            with open("log.txt", "a") as logfile:
                logfile.write(log)
                logfile.close()
            with open("log_backup.txt", "a") as logfile:
                logfile.write(log)
                logfile.close()
            #linkedin_df.at[index,'status'] = 'error'
            #linkedin_df.to_csv('linkedin_data.csv', index=False)