In [1]:
from sqlalchemy.engine import create_engine
import pandas as pd
import numpy as np
import json
import gzip
import cx_Oracle

### Convert .gz to dataframe

In [127]:
f = gzip.open('ds_dump_AW_1.jl.gz', 'rt', encoding='utf-8')
rawdata = f.readlines()
f.close()

In [128]:
rawdata[0]

'{"family_name": "nunez", "updated": "2016-02-25T11:43:53", "locality": "Aruba", "url": "http://www.linkedin.com/in/juana-la-dominicana-nunez-a8b25059", "last_visited": "2016-02-25T11:43:53", "num_connections": "3", "_key": "AW4012aceb84350a4f", "also_viewed": ["http://www.linkedin.com/in/renanss-william-7a016275", "http://www.linkedin.com/in/margaret-laney-10301610", "http://www.linkedin.com/in/vipul-video-58168a70", "http://www.linkedin.com/in/jeffweiner08", "http://www.linkedin.com/in/gaston-pedro-zubieta-73b29518", "http://www.linkedin.com/in/cascino-gianfranco-aa65a552", "http://www.linkedin.com/in/pentiumao", "http://www.linkedin.com/in/tomoka-matsui-55182682", "http://www.linkedin.com/in/bryce-word-98729114", "http://www.linkedin.com/in/verona-gehring-22987456", "http://www.linkedin.com/in/nicoledelosreyes"], "given_name": "Juana La Dominicana", "full_name": "Juana La Dominicana nunez", "headline": "--", "education": [{"start": "1992", "end": "1996", "degrees": ["Bachelor of Business Administration (B.B.A.)", "Accounting and Business/Management", "first grade"], "name": "Middel Baar Administratief Onderwijs Aruba", "summary": "Activities and Societies: I did accounting and Industrial planning also"}], "canonical_url": "http://aw.linkedin.com/in/juana-la-dominicana-nunez-a8b25059", "unique_id": "4012aceb84350a4f"}\n'

In [129]:
dict_list = []
for i in rawdata:
    dict_list.append(json.loads(i))

In [130]:
df = pd.DataFrame(dict_list, columns=list(json.loads((rawdata[0])).keys()))

In [131]:
df.head(5)

,family_name,updated,locality,url,last_visited,num_connections,_key,also_viewed,given_name,full_name,headline,education,canonical_url,unique_id
0,nunez,2016-02-25T11:43:53,Aruba,http://www.linkedin.com/in/juana-la-dominicana...,2016-02-25T11:43:53,3,AW4012aceb84350a4f,[http://www.linkedin.com/in/renanss-william-7a...,Juana La Dominicana,Juana La Dominicana nunez,--,"[{'start': '1992', 'end': '1996', 'degrees': [...",http://aw.linkedin.com/in/juana-la-dominicana-...,4012aceb84350a4f
1,Pietersz,2016-02-24T05:05:53,Aruba,http://www.linkedin.com/in/charles-th-pietersz...,2016-02-24T05:05:53,12,AWfa20ef9b896a2156,[http://www.linkedin.com/in/carmen-garcia-davi...,Charles Th.,Charles Th. Pietersz,--,NaN,http://aw.linkedin.com/in/charles-th-pietersz-...,fa20ef9b896a2156
2,Hese,2016-02-24T10:12:55,Aruba,http://www.linkedin.com/in/philippehese,2016-02-24T10:12:55,500+,AWcfa775b541e1fb03,[http://www.linkedin.com/in/mary-geerman-a8369...,Philippe,Philippe Hese,Project Manager at Divi Resorts,"[{'start': '2004', 'end': '2006', 'name': 'Uni...",http://aw.linkedin.com/in/philippehese,cfa775b541e1fb03
3,De Freitas,2016-02-24T03:11:19,Aruba,http://www.linkedin.com/in/natalia-de-freitas-...,2016-02-24T03:11:19,1,AW02424885bef0d1ae,[http://www.linkedin.com/in/julia-paduanelo-97...,Natalia,Natalia De Freitas,--,NaN,http://aw.linkedin.com/in/natalia-de-freitas-5...,02424885bef0d1ae
4,Martis,2016-02-23T12:11:36,Aruba,http://www.linkedin.com/in/sharon-martis-0292279a,2016-02-23T12:11:36,1,AW95b4ae359f9894cf,[http://www.linkedin.com/in/alexandra-everett-...,Sharon,Sharon Martis,--,NaN,http://aw.linkedin.com/in/sharon-martis-0292279a,95b4ae359f9894cf

### Server Info

In [3]:
DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'DEV' #enter your username
PASSWORD = "qtdata@2021" #enter your password
HOST = '118.69.32.128' #enter the oracle db host url
PORT = 1521 #enter the oracle port number
SERVICE = 'XE' #enter the oracle db service name
ENGINE_PATH_WIN_AUTH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + \
                       ':' + str(PORT) + '/?service_name=' + SERVICE
print(ENGINE_PATH_WIN_AUTH)
engine = create_engine(ENGINE_PATH_WIN_AUTH, max_identifier_length = 128)
con = engine.connect()

oracle+cx_oracle://DEV:qtdata@2021@118.69.32.128:1521/?service_name=XE

In [6]:
data = pd.read_csv("workingtime.csv", encoding='utf8')
data[:]

,Unnamed: 0,Weekday,TRAN TRUNG MINH,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,Email,Alias,Title,Employment Status,Start Date,Min Hour,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,minh.tran@jvn.edu.vn,Aiden Smith,CTO,NaN,7/4/2019,30,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Outcome Plan,HR NOTE,from,to,from,to,from,to,Regular Hours Worked,Rewards & Punishment,Actual Hours
3,5/1/2020,6.0,Lễ 1/5,"Hủy 13-17,20-22",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4,5/2/2020,7.0,NaN,NaN,NaN,NaN,NaN,NaN,21.5,22,0.5,NaN,0.5
5,5/3/2020,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
6,5/4/2020,2.0,NaN,NaN,NaN,NaN,15,17,20,22,4,NaN,4
7,5/5/2020,3.0,NaN,NaN,NaN,NaN,13,17,20,22,6,NaN,6
8,5/6/2020,4.0,NaN,NaN,NaN,NaN,13,17,20,22,6,NaN,6
9,5/7/2020,5.0,NaN,NaN,NaN,NaN,13,17,20,22,6,NaN,6

In [7]:
data[1:2]

,Unnamed: 0,Weekday,TRAN TRUNG MINH,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,NaN,NaN,minh.tran@jvn.edu.vn,Aiden Smith,CTO,NaN,7/4/2019,30,NaN,NaN,NaN,NaN,NaN

### Test with demo data

In [36]:
df_test = pd.DataFrame()
df_test['id'] = ['1']
df_test['after'] = ['after.jpeg']
df_test['before'] = ['before.jpeg']
df_test['screen_shot'] = ['screen_shot.jpeg']
print(df_test)

  id       after       before       screen_shot
0  1  after.jpeg  before.jpeg  screen_shot.jpeg

In [37]:
#Import to Oracle SQL database
df_test.to_sql('images', engine, if_exists='append', index = False)

In [38]:
#Check
engine.execute("SELECT * FROM images").fetchall()

[('1', 'after.jpeg', 'before.jpeg', 'screen_shot.jpeg'),
 ('1', 'after.jpeg', 'before.jpeg', 'screen_shot.jpeg')]

In [11]:
#Delete demo data
engine.execute('DROP TABLE users')

### Run with linkedin data

In [15]:
df.columns

Index(['also_viewed', 'num_connections', 'education', 'full_name',
       'given_name', 'updated', 'unique_id', 'url', '_key', 'canonical_url',
       'last_visited', 'locality', 'family_name', 'headline'],
      dtype='object')

In [ ]:
a = df[['family_name', '_key', 'canonical_url']]

In [22]:
a[a['family_name'].str.find('\xf3') != -1][:5]

,family_name,_key,canonical_url
32,Rincón Murcia,AW5c9c0f31d5db8bbb,http://aw.linkedin.com/in/brayan-camilo-rinc%2...
175,NaN,AWf6f13b232ace6c25,http://aw.linkedin.com/in/marlean-marlean-43b2...
323,León,AW1497bb12d54fd944,http://aw.linkedin.com/in/katherine-le%25C3%25...
336,NaN,AW421f695535fedf4d,http://aw.linkedin.com/in/arusur-arusur-67127239
362,NaN,AW6e43d8f8f992671b,http://aw.linkedin.com/in/absal-absal-50847161

In [ ]:
for column in a.columns:
    a[column] = a[column].str.encode('utf-8')

In [25]:
a[a['family_name'].str.find('\xf3') != -1][:5]

,family_name,_key,canonical_url
0,b'nunez',b'AW4012aceb84350a4f',b'http://aw.linkedin.com/in/juana-la-dominican...
1,b'Pietersz',b'AWfa20ef9b896a2156',b'http://aw.linkedin.com/in/charles-th-pieters...
2,b'Hese',b'AWcfa775b541e1fb03',b'http://aw.linkedin.com/in/philippehese'
3,b'De Freitas',b'AW02424885bef0d1ae',b'http://aw.linkedin.com/in/natalia-de-freitas...
4,b'Martis',b'AW95b4ae359f9894cf',b'http://aw.linkedin.com/in/sharon-martis-0292...

In [ ]:
# repl_dict = {'\xf3':'o', '\xe1':'a','\xf1': 'n'}
# for k,v in repl_dict.items():
#     a['family_name'] = a['family_name'].str.replace(k, v)

In [ ]:
a.to_sql('linkedin_data', engine, if_exists='append', index = False)

In [ ]:
engine.execute("SELECT * FROM linkedin_data").fetchall()

In [ ]:
engine.execute('DROP TABLE linkedin_data')

### Run with tempo monitor data

In [90]:
df_employes = pd.DataFrame()
df_employes['id'] = ['1']
df_employes['email'] = ['anphung1681997@gmail.com']
#Import to Oracle SQL database
df_employes.to_sql('employes', engine, if_exists='append', index = False)
#Check
engine.execute("SELECT * FROM employes").fetchall()

[('1', 'anphung1681997@gmail.com')]

In [89]:
df_images = pd.DataFrame()
df_images['id'] = ['1']
df_images['after'] = ['after.jpeg']
df_images['before'] = ['before.jpeg']
df_images['screen_shot'] = ['after.jpeg']
df_images['email'] = ['anphung1681997@gmail.com']
df_images['date_time'] = ['30/05/2020']
#Import to Oracle SQL database
df_images.to_sql('images', engine, if_exists='append', index = False)
#Check
engine.execute("SELECT * FROM images").fetchall()

[('1', 'after.jpeg', 'before.jpeg', 'after.jpeg', 'anphung1681997@gmail.com', '30/05/2020')]

In [91]:
df_detection_result = pd.DataFrame()
df_detection_result['id'] = ['1']
df_detection_result['time'] = ['Tuesday, February 18, 2020 10:34:20']
df_detection_result['note'] = ['Screen no change']
df_detection_result['working_time'] = ['7.27323231654']
df_detection_result['free_time'] = ['3.77323231654']
df_detection_result['image_id'] = ['1']
#Import to Oracle SQL database
df_detection_result.to_sql('detection_result', engine, if_exists='append', index = False)
#Check
engine.execute("SELECT * FROM detection_result").fetchall()

[('1', 'Tuesday, February 18, 2020 10:34:20', 'Screen no change', '7.27323231654', '3.77323231654', '1')]

In [134]:
with open('obama.jpg', 'rb') as f:
    imgdata = f.read()
    print(f)
engine.execute("""
        insert into images (id, after, before, screen_shot, email, date_time)
        values (:lobid, :after, :before, :screenshot, :email, :date_time)""",
        lobid=10, after=imgdata, before=imgdata, screen_shot=imgdata, email='anphung1681997@gmail.com', date_time='30/05/2020')

<_io.BufferedReader name='obama.jpg'>

DatabaseError: (cx_Oracle.DatabaseError) ORA-01036: illegal variable name/number
[SQL:
        insert into images (id, after, before, screen_shot, email, date_time)
        values (:lobid, :after, :before, :screenshot, :email, :date_time)]
[parameters: {'lobid': 10, 'after': b'\xff\xd8\xff\xe1"\xf5Exif\x00\x00II*\x00\x08\x00\x00\x00\x11\x00\x00\x01\x03\x00\x01\x00\x00\x00\x7f\n\x00\x00\x01\x01\x03\x00\x01\x00\x00\x00\x1c\r ... (785383 characters truncated) ... \xe4\x98yW\xed&f\x07\x08\xbdgJ\xea\x99\x16a8o\xb62Q\xe6\xd3\x93\x92!{\xfd\x19k\x88\x8f\xb5\xfb_\xecFc\xcd\x9cU[\xed\'\xd3\xfa\xb2\x9e\x8d\x8f\xff\xd9', 'before': b'\xff\xd8\xff\xe1"\xf5Exif\x00\x00II*\x00\x08\x00\x00\x00\x11\x00\x00\x01\x03\x00\x01\x00\x00\x00\x7f\n\x00\x00\x01\x01\x03\x00\x01\x00\x00\x00\x1c\r ... (785383 characters truncated) ... \xe4\x98yW\xed&f\x07\x08\xbdgJ\xea\x99\x16a8o\xb62Q\xe6\xd3\x93\x92!{\xfd\x19k\x88\x8f\xb5\xfb_\xecFc\xcd\x9cU[\xed\'\xd3\xfa\xb2\x9e\x8d\x8f\xff\xd9', 'screen_shot': b'\xff\xd8\xff\xe1"\xf5Exif\x00\x00II*\x00\x08\x00\x00\x00\x11\x00\x00\x01\x03\x00\x01\x00\x00\x00\x7f\n\x00\x00\x01\x01\x03\x00\x01\x00\x00\x00\x1c\r ... (785383 characters truncated) ... \xe4\x98yW\xed&f\x07\x08\xbdgJ\xea\x99\x16a8o\xb62Q\xe6\xd3\x93\x92!{\xfd\x19k\x88\x8f\xb5\xfb_\xecFc\xcd\x9cU[\xed\'\xd3\xfa\xb2\x9e\x8d\x8f\xff\xd9', 'email': 'anphung1681997@gmail.com', 'date_time': '30/05/2020'}]
(Background on this error at: http://sqlalche.me/e/4xp6)

In [123]:
engine.execute("""
SELECT * FROM employes e
INNER JOIN images i
    ON i.email = e.email
INNER JOIN detection_result dt
    ON dt.image_id = i.id
WHERE e.email = :email
""", email='anphung1681997@gmail.com').fetchall()

DatabaseError: (cx_Oracle.DatabaseError) ORA-00932: inconsistent datatypes: expected - got CLOB
[SQL:
SELECT * FROM employes e
INNER JOIN images i
    ON i.email = e.email
INNER JOIN detection_result dt
    ON dt.image_id = i.id
WHERE e.email = :email
]
[parameters: {'email': 'anphung1681997@gmail.com'}]
(Background on this error at: http://sqlalche.me/e/4xp6)

In [88]:
engine.execute('DROP TABLE images')

In [106]:
engine.execute("SELECT * FROM employes").fetchall()

[('1', 'anphung1681997@gmail.com')]

In [107]:
engine.execute("SELECT * FROM images").fetchall()

[('1', 'after.jpeg', 'before.jpeg', 'after.jpeg', 'anphung1681997@gmail.com', '30/05/2020')]

In [108]:
engine.execute("SELECT * FROM detection_result").fetchall()

[('1', 'Tuesday, February 18, 2020 10:34:20', 'Screen no change', '7.27323231654', '3.77323231654', '1')]

In [119]:
engine.execute("""
SELECT * FROM employes e
WHERE e.email = 'anphung1681997@gmail.com'
""").fetchall()

[('1', 'anphung1681997@gmail.com')]