In [27]:
from sqlalchemy.engine import create_engine
import pandas as pd
import numpy as np
import json
import gzip
import cx_Oracle

In [41]:
DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'TEMPO_MONITOR' #enter your username
PASSWORD = "qtdatavn" #enter your password
HOST = '118.69.32.128' #enter the oracle db host url
PORT = 1521 #enter the oracle port number
SERVICE = 'XE' #enter the oracle db service name
ENGINE_PATH_WIN_AUTH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + \
                       ':' + str(PORT) + '/?service_name=' + SERVICE
print(ENGINE_PATH_WIN_AUTH)
engine = create_engine(ENGINE_PATH_WIN_AUTH, max_identifier_length = 128)
con = engine.connect()

oracle+cx_oracle://TEMPO_MONITOR:qtdatavn@118.69.32.128:1521/?service_name=XE

In [65]:
info = pd.read_csv("info.csv", index_col=0, encoding='utf8')
info[:]
print(info)

                     email        alias title status start_date  min_hour
name
Minh  minh.tran@jvn.edu.vn  Aiden Smith   CTO     in   7/4/2019        30

In [55]:
for _,rows in info.iterrows():
    df_workingtime = pd.DataFrame()
    df_workingtime['name'] = rows['name']
print(df_workingtime)

KeyError: 'name'

In [64]:
#Import to Oracle SQL database
info.to_sql('employes', engine, if_exists='append', index = False)

DatabaseError: (cx_Oracle.DatabaseError) ORA-00904: "MINHOUR": invalid identifier
[SQL: INSERT INTO employes (email, alias, title, status, start_date, minhour) VALUES (:email, :alias, :title, :status, :start_date, :minhour)]
[parameters: {'email': 'minh.tran@jvn.edu.vn', 'alias': 'Aiden Smith', 'title': 'CTO', 'status': 'in', 'start_date': '7/4/2019', 'minhour': 30}]
(Background on this error at: http://sqlalche.me/e/4xp6)

In [ ]:
df_test = pd.DataFrame()
df_test['id'] = ['1']
df_test['after'] = ['after.jpeg']
df_test['before'] = ['before.jpeg']
df_test['screen_shot'] = ['screen_shot.jpeg']
print(df_test)

In [33]:
working_time = pd.read_csv("workingtime.csv", index_col=0, encoding='utf8')
working_time[:]

,Email,Date,From_1,To_1,From_2,To_2,From_3,To_3,Total
Name,,,,,,,,,
Minh,minh.tran@jvn.edu.vn,5/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,5/2/2020,NaN,NaN,21.5,22.0,NaN,NaN,NaN
NaN,NaN,5/3/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,5/4/2020,15.0,17.0,20.0,22.0,NaN,NaN,NaN
NaN,NaN,5/5/2020,13.0,17.0,20.0,22.0,NaN,NaN,NaN
NaN,NaN,5/6/2020,13.0,17.0,20.0,22.0,NaN,NaN,NaN
NaN,NaN,5/7/2020,13.0,17.0,20.0,22.0,NaN,NaN,NaN